<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/head"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/jstree-themes/default/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/jstree-themes/default/style.min.css}" />
		<style type="text/css">
		.jstree-default .jstree-clicked > .jstree-checkbox2 {
			background-position: -36px -66px;
		}

		.jstree-default .jstree-checkbox2 {
			background-position: -164px -4px;
		}

		.jstree-anchor2 {
			display: inline-block;
			color: black;
			white-space: nowrap;
			padding: 0 4px 0 1px;
			margin: 0;
			vertical-align: top;
		}
		.jstree-anchor2:focus {
			outline: 0;
		}
		.jstree-anchor2, .jstree-anchor2:link, .jstree-anchor2:visited, .jstree-anchor2:hover, .jstree-anchor2:active {
			text-decoration: none;
			color: inherit;
		}
		.jstree-anchor2 > .jstree-themeicon {
			background-position: -260px -4px
		}
		</style>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='roleMgnt')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-user" aria-hidden="true"></i>
								權限管理
								<i class="my-icon fa fa-angle-double-right"></i>
								角色權限維護
							</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="row">
							<div class="row">
								<div class="col-xs-12">
									<form class="form-horizontal" id="roleMgntForm" role="form" action="#">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 系統別 </label>
											<div class="col-sm-5">
												<select class="form-control" id="systemsSelect">
													<option value="">請選擇系統別...</option>
												</select>
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色名稱 </label>
											<div class="col-sm-5">
												<input type="text" id="roleName" placeholder="輸入欲查詢的角色名稱" class="form-control" />
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="depSelect"> 通路名稱 </label>
											<div class="col-sm-5">
												<select class="form-control" id="depSelect">
												</select>
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div id="responseBody"></div>
										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button id="qryBtn" class="btn btn-success" type="button">
													<i class="my-icon fa fa-check bigger-110"></i>
													查詢
												</button>
												&nbsp; &nbsp; &nbsp;
												<button id="resetBtn" class="btn" type="reset">
													<i class="my-icon fa fa-undo bigger-110"></i>
													重新輸入
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="hr hr-18 dotted hr-double"></div>
							<div class="row">
								<div class="col-xs-12">
									<div id="show-detail-results" hidden="true">
<!-- 										<h3 class="header smaller lighter blue">查詢結果</h3> -->
										<div>
											<div id="showMessage" class="alert alert-info">
												<i class="my-icon fa fa-hand-o-right"></i>
												<span id="errorMsg">error!</span>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<div id="dynamic-table_filter" class="dataTables_filter">
														<button id="exportBtn" class="btn btn-purple">
															<i class="my-icon fa fa-cloud-upload bigger-110"></i>匯出結果
														</button>
													</div>
												</div>
											</div>
											<table id="grid"></table>
											<div style="height:60px">
												<div id="pager"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="dialog-message" class="hide">
								<div class="widget-main no-padding">
									<div class="row">
										<div class="col-xs-12 col-sm-3">
											<div class="search-area well well-sm">
												<h4 class="blue smaller">
													<i class="fa fa-share-square-o blue bigger-110"></i>
													複製角色權限
												</h4>
												<div>
													<div>
														<select class="chosen-select form-control" id="roleSelect" data-placeholder="請選擇角色..." style="width: 155px;">
															<option value=""></option>
														</select>
													</div>
												</div>
												<div class="hr hr-dotted"></div>
												<div class="dataTables_filter">
													<span class="input-group-btn">
														<button type="button" class="btn btn-info" onclick="copyRole()">
														<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
														複製
														</button>
													</span>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-8">
											<div class="row">
												<div class="tree-container-min">
													<div id="cat-tree"></div>
												</div>
												<div class="space-2"></div>
												<div class="col-sm-10">
													<div class="text-center">
														<!-- <a href="/eservice_adm/roleMgnt" id="id-btn-dialog2" class="btn btn-info">
															<i class="my-icon fa fa-angle-double-left"></i>
															返回
														</a> -->
														<span id="openTree">
															<button type="button" class="btn btn-yellow" onclick="openTree('open')">
																<i class="my-icon fa fa-plus"></i>
																展開
															</button>
														</span>
														<span id="closeTree" hidden="true">
															<button type="button" class="btn btn-yellow" onclick="openTree('close')">
																<i class="my-icon fa fa-minus"></i>
																收起
															</button>
														</span>
														<button type="button" class="btn" onclick="resetTree()">
															<i class="my-icon fa fa-remove"></i>
															清除
														</button>
														<button type="button" class="btn btn-success" onclick="updateRole()">
															<i class="my-icon fa fa-floppy-o"></i>
															更新
														</button>
													</div>
												</div>
											</div>
											<div class="space-12"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<th:block th:replace="fragments/script"/>
		<script	th:src="@{/js/jstree/jstree.min.js}"></script>
		<script th:src="@{/js/adm/tree.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var grid;
		var treeUtil;
		var selectRoleId;
		$(function() {
			// 載入系統功能下拉選單
			eserviceAdmOption.system('#systemsSelect', /*[[@{/common/systemList}]]*/);

			//通路下拉框
			eserviceAdmOption.dept('#depSelect', /*[[@{jd/common/dept/parentList}]]*/);

			// 取得角色名稱下拉選單
			eserviceAdmOption.chosenRole('#roleSelect', /*[[@{/common/roleList}]]*/, function() {
				eserviceAdmEvent.initChosenSelect();
			});

			// 初始 jqGridUtil 物件
			grid = new jqGridUtil();
			grid.id = '#grid';
			grid.url = /*[[@{/role/getRoleDetail}]]*/;
			grid.caption = '角色查詢結果';
			grid.colNames = ['角色名稱', '部門名稱',"通路名稱", '角色描述', '角色權限設定'];
			grid.colModel = [
				{name: 'ROLE_NAME', index: 'ROLE_NAME'},
				{name: 'DEPARTMENT_NAME', index: 'DEPARTMENT_NAME'},
				{name: 'DEP_NAME', index: 'DEP_NAME'},
				{name: 'DESCRIPTION', index: 'DESCRIPTION'},
				{ align: 'center', formatter: function(cellvalue, options, row) {
					var editHtml = '';
					editHtml += '<a href="javascript:openRoleTree(\'' + row.ROLE_ID + '\', \'' + row.ROLE_NAME + '\')" class="green bigger-140 show-details-btn" title="Edit">';
					editHtml += '    <i class="my-icon fa fa-pencil bigger-120"></i> <span class="sr-only">Details</span>';
					editHtml += '</a>';
					return editHtml;
				}}
			];
			grid.create();

			// 查詢
			$('#qryBtn').click(function() {
				// 設定查詢條件
				grid.setPostData('systemId', $('#systemsSelect').val());
				grid.setPostData('roleName', $('#roleName').val());
				grid.setPostData('parentDep',$('#depSelect').val())
				//通路名查詢

				// 產生grid
				grid.create();
				// 顯示查詢結果區域
				$('#show-detail-results').show();
			});

			// 重新輸入
			$('#resetBtn').click(function() {
				$('#roleMgntForm')[0].reset();
			});

			// 匯出結果
			$('#exportBtn').click(function() {
				if (grid.rownum() > 0) {
					window.location.href = "/eservice_adm/roleMgnt/downloadRoleFuncAuth?sysId="+grid.getPostData('systemId')+"&roleName="+grid.getPostData('roleName');
				} else {
					alertMsg("無結果可以匯出！");
				}
			});

			eserviceAdmEvent.initDialog();
		});

		// 開啟角色權限設定 Dialog
		function openRoleTree(roleId, roleName) {
			popupLoading();
			$('#roleSelect_chosen').css('width', '150px');

			// 顯示角色功能 tree
			showRoleFunctionTree(roleId);

			$('#dialog-message').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>角色(" + roleName + ")權限設定</h4></div>",
				title_html: true,
				width: 800,
				height: 500
			});
			removeLoading();
		}

		// 顯示角色功能 tree
		function showRoleFunctionTree(roleId) {
			popupLoading();
			selectRoleId = roleId;
			// 清空角色功能 tree
			$('.tree-container-min').html('<div id="cat-tree"></div>');

			// 建立jsTreeUtil工具類別
			var actionUrl = /*[[@{/common/getFunctionAuthByRoleId}]]*/
			treeUtil = new jsTreeUtil();
			treeUtil.sTreeId = '#cat-tree';
			treeUtil.sQueryUrl = actionUrl + '?roleId=' + roleId;
			treeUtil.fnReady = function() {
				treeUtil.removeDivItemSelect();
			};
			treeUtil.fnAfterOpen = function() {
				treeUtil.removeDivItemSelect();

				$.each($('li[id^=div]'), function(i, e) {
					// 處理 div 勾選
					$.each(treeUtil.getDataList(), function(i, obj) {
						if($(e).attr("id") == obj.id) {
							if (obj.state.selected) {
								$(e).find('.jstree-anchor2').addClass('jstree-clicked');
							}
						}
					 });
				});
			};
			treeUtil.fnInitComplete = function() {
				$("#closeTree").hide();
				$("#openTree").show();
			};
			treeUtil.show();
			removeLoading();
		}

		// 複製角色功能
		function copyRole() {
			if ($("#roleSelect").val() == '') {
				alertMsg('請選擇角色...');
				return false;
			}

			showRoleFunctionTree($("#roleSelect").val());
		}

		// 展開/收起
		function openTree(obj){
			if (obj == "open") {
				$("#closeTree").show();
				$("#openTree").hide();
				$('#cat-tree').jstree('open_all');
			} else {
				$("#closeTree").hide();
				$("#openTree").show();
				$('#cat-tree').jstree('close_all');
			}
		}

		// 清除
		function resetTree() {
			$('#cat-tree').jstree('deselect_all');
			$.each($('li[id^=div]'), function(i, obj) {
				 var test = $(obj).find('.jstree-anchor2');
				 $(test).removeClass("jstree-clicked");
			});
		}

		// 更新角色權限
		function updateRole() {
			var funIds = treeUtil.getSelectFuncId();
			var divIds = treeUtil.getSelectDivId();
			var sysIds = treeUtil.getSelectSysId();

			var formData = {
				roleId : selectRoleId,
				sysIds : sysIds,
				funIds : funIds,
				divIds : divIds
			};
			//console.log(formData);
			eserviceForm.post(/*[[@{/roleMgnt/updateRole}]]*/, formData, function(response) {
				alertMsg(response.resultMsg);
			});
		}

		function checkNon(obj){
			var test = $("#"+obj).find('.jstree-anchor2');
			if($(test).hasClass("jstree-clicked")){
				$(test).removeClass('jstree-clicked');
			}else{
				$(test).addClass('jstree-clicked');
			}
		}
		/*]]>*/
		</script>
	</body>
</html>