
	<div th:fragment="common_js(scripts)">
		<!--[if !IE]> -->
		<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		
		<script	th:src="@{/js/bootstrap.min.js}"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		
		<script	th:src="@{/js/tree.min.js}"></script>
		<script	th:src="@{/js/jquery-ui.custom.min.js}"></script>
		<script	th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
		<script	th:src="@{/js/jquery.easypiechart.min.js}"></script>
		<script	th:src="@{/js/jquery.sparkline.index.min.js}"></script>
		<script	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script	th:src="@{/js/bootstrap-timepicker.min.js}"></script>
		<script	th:src="@{/js/moment.min.js}"></script>
		<script	th:src="@{/js/daterangepicker.min.js}"></script>
		<script	th:src="@{/js/jquery.flot.min.js}"></script>
		<script	th:src="@{/js/jquery.flot.pie.min.js}"></script>
		<script	th:src="@{/js/jquery.flot.resize.min.js}"></script>
		<script	th:src="@{/js/jquery.jqGrid.min.js}"></script>
		<script	th:src="@{/js/grid.locale-zh-tw.js}"></script>
		<script	th:src="@{/plugin/chosen.jquery.js}"></script>
		<script	th:src="@{/js/jquery-ui.min.js}"></script>
		<script	th:src="@{/js/bootstrap-tagsinput.js}"></script>
		<!-- eservice_adm -->
		<script	th:src="@{/js/adm/actionModal.js}"></script>
		<script	th:src="@{/js/adm/form.js}"></script>
		<script	th:src="@{/js/adm/option.js}"></script>
		<script	th:src="@{/js/adm/grid.js}"></script>
		<script	th:src="@{/js/adm/event.js}"></script>
		<script	th:src="@{/js/adm/render.js}"></script>
		<script th:src="@{/plugin/loading-modal/loading-modal.js}"></script>
		
		<!-- my scripts -->
		<script	th:src="@{/js/my-elements.min.js}"></script>
		<script	th:src="@{/js/my.min.js}"></script>
		
		<!--/* Per-page placeholder for additional js */-->
   		<th:block th:replace="${scripts}" />
	</div>
