<div id="navbar" class="navbar navbar-default my-save-state">
	<div class="navbar-container my-save-state" id="navbar-container">
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">Toggle sidebar</span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>
		</button>

		<div class="navbar-header pull-left navbar-brand">
<!-- 			<a href="index.html" class="navbar-brand"> -->
				<small>
					<i class="fa fa-leaf"></i>
					臺銀人壽保戶網路服務後台管理系統
				</small>
<!-- 			</a> -->
		</div>
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav my-nav">
				<li class="light-blue dropdown-modal">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<span class="user-info">
							<small>歡迎,</small>
							<th:block th:text="${session.LOGIN_SHOW_NAME}"/>
						</span>
						<i class="my-icon fa fa-caret-down"></i>
					</a>
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<!--  
						<li>
							<a href="#">
								<i class="my-icon fa fa-cog"></i>
								Settings
							</a>
						</li>
						<li>
							<a href="profile.html">
								<i class="my-icon fa fa-user"></i>
								Profile
							</a>
						</li>
						<li class="divider"></li>
						-->
						<li>
							<a th:href="@{/doLogout}">
								<i class="my-icon fa fa-power-off"></i>
								Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>