<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>eService後台管理系統</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	</head>

	<body class="login-layout">
		
		<script th:inline="javascript">
			// alert and redirect to login page
			alert("您的帳號已登出，如須繼續使用請重新登入。");
			window.location.href = "/eservice_adm/login";
		</script>
	</body>
</html>
