<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/head"/>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='index')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb"></ul>
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								 臺銀人壽保戶網路服務後台管理系統
							</h1>
						</div><!-- /.page-header -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<!-- basic scripts -->
		<th:block th:replace="fragments/script"/>
	</body>
</html>
