<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/commonHead :: common_header(~{::title},~{::link},~{::style})">
		<title>eService通信管理</title>
		<link rel="stylesheet" th:href="@{/plugin/summernote-editor/summernote.css}" />
		<style>
			#mailContentDiv .btn-group>.btn, #mailContentDiv .btn-group>.btn+.btn, #mailContentDiv .btn-group>.btn:first-child {
			    margin: 0 0 0 0 !important;
			}
			#mailContentDiv .btn-group .btn+.btn, #mailContentDiv .btn-group .btn+.btn-group, #mailContentDiv .btn-group .btn-group+.btn, #mailContentDiv .btn-group .btn-group+.btn-group {
			    margin-left: -1px !important;
			}
			.btn-group-vertical>.btn, #mailContentDiv .btn-group>.btn {
			    position: relative !important;
			    float: left !important;
			}
			#mailContentDiv .btn-group-sm>.btn, #mailContentDiv .btn-sm {
			    font-size: 12px !important;
			    line-height: 1.5 !important;
			    /* border-radius: 3px !important; */
			}
			#mailContentDiv .btn-default {
			    color: #333 !important;
			    background-color: #fff !important;
			    border-color: #ccc !important;
			}
			#mailContentDiv .btn {
				color: #000 !important;
				text-shadow: 0 -0 0 rgba(0,0,0,0) !important;
			    display: inline-block !important;
			    font-weight: 400 !important;
			    text-align: center !important;
			    vertical-align: middle !important;
			    touch-action: manipulation !important;
			    cursor: pointer !important;
			    border: 1px solid #00000045 !important;
			    white-space: nowrap !important;
			    user-select: none !important;
			}
			#mailContentDiv .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
			    border-bottom-left-radius: 0 !important;
			    border-top-left-radius: 0 !important;
			}
			#mailContentDiv .panel-default>.panel-heading {
			    color: #333 !important;
			    background-color: #f5f5f5 !important;
			    border-color: #ddd !important;
			}
			#mailContentDiv .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
			    border-bottom-right-radius: 0 !important;
			    border-top-right-radius: 0 !important;
			}
			#mailContentDiv .btn .caret, #mailContentDiv .btn-group>.btn:first-child {
			    margin-left: 0 !important;
			}
			.note-editable .transparent>.widget-body .widget-main .table-bordered>tbody>tr>td:last-child, .note-editable .transparent>.widget-body .widget-main .table-bordered>tfoot>tr>td:last-child, .note-editable .transparent>.widget-body .widget-main .table-bordered>thead>tr>th:last-child, .note-editable .widget-main.no-padding .table-bordered>tbody>tr>td:last-child, .note-editable .widget-main.no-padding .table-bordered>tfoot>tr>td:last-child, .note-editable .widget-main.no-padding .table-bordered>thead>tr>th:last-child {
			    border-right-width: 0 !important;
			}
			.note-editable .widget-main.no-padding .table-bordered td:first-child, .note-editable .widget-main.no-padding .table-bordered th:first-child {
			    border-left-width: 0 !important;
			}
			.note-editable .transparent>.widget-body .widget-main .table-bordered>tbody>tr:last-child>td, .note-editable .widget-main.no-padding .table-bordered>tbody>tr:last-child>td {
			    border-bottom-width: 0 !important;
			}
		</style>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='communicationTemplateAdd')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-signal" aria-hidden="true"></i>
									通信管理
								<i class="my-icon fa fa-angle-double-right"></i>
									新增通信模板
							</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="row">
							<div class="row">
								<div class="col-xs-12 col-sm-12">
									<div class="alert alert-info" id="addError" hidden="true">
										<i class="my-icon fa fa-hand-o-right"></i>
										<span id="addErrorCont"></span>
									</div>
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">新增通信模板</h4>
										</div>
										<div class="widget-body">
											<div class="widget-main no-padding">
												<form>
													<!-- <legend>Form</legend> -->
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">系統別</label>
														<div class="col-sm-10" id="leave">
															<select class="chosen-select form-control" id="systems" data-placeholder="請選擇系統別..." style="display: none;">
															</select>
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">通信模板代碼</label>
														<div class="col-sm-10" id="leave">
															<input type="text" id="messagingTemplateCode" class="form-control" />
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">通信模板名稱</label>
														<div class="col-sm-10" id="leave">
															<input type="text" id="messagingTemplateName" class="form-control" />
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">狀態</label>
														<div class="col-sm-10" id="leave">
															<label>等待覆核</label>
														</div>
													</fieldset>
													<fieldset style="padding:16px">
														<label class="col-sm-2 control-label no-padding-right">寄送方式</label>
														<div class="col-sm-9">
															<div class="radio inline">
																<label>
																	<input name="sendType" type="radio" class="my" value="email" checked="true" />
																	<span class="lbl"> 電子郵件</span>
																</label>
															</div>
															&nbsp; &nbsp;
															<div class="radio inline">
																<label>
																<input name="sendType" type="radio" class="my" value="sms"/>
																<span class="lbl"> 手機簡訊</span>
																</label>
															</div>
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">觸發方式</label>
														<div class="col-sm-8">
															<div class="radio inline">
																<label>
																	<input name="triggerType" type="radio" class="my" checked="true" value="api"/>
																	<span class="lbl"> 通信API</span>
																</label>
															</div>
															&nbsp; &nbsp;
															<div class="radio inline">
																<label>
																	<input name="triggerType" type="radio" class="my" value="event"/>
																	<span class="lbl"> 事件通知</span>
																</label>
															</div>
														</div>
													</fieldset>
													<fieldset id="showSet">
														<label class="col-sm-2 control-label no-padding-right"></label>
														<div class="col-sm-10">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">事件通知</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main no-padding">
																			<!-- <legend>Form</legend> -->
																			<fieldset style="padding:16px">
																				<label class="col-sm-2 control-label no-padding-right">事件類型</label>
																				<div class="col-sm-9" id="leave">
																					<select class="chosen-select form-control" id="eventTypes" data-placeholder="請選擇事件類型..." style="display: none;width:90%">
																					</select>
																				</div>
																			</fieldset>
																			<!-- <fieldset style="padding:16px">
																				<label class="col-sm-2 control-label no-padding-right">寄送時間</label>
																				<div class="col-sm-9">
																					<div class="radio inline">
																						<label>
																							<input name="sendTimeRadio" type="radio" class="my" checked="true" value="now"/>
																							<span class="lbl"> 立即執行 </span>
																						</label>
																					</div>
																						&nbsp; &nbsp;
																					<div class="radio inline">
																						<label>
																							<input name="sendTimeRadio" type="radio" class="my" value="sendTime"/>
																							<span class="lbl"> hh:ss </span>
																						</label>
																					</div>
																					<label class="inline">
																						<div class="col-sm-5" style="padding-top:16px" id="showTime">
																							<div class="input-group bootstrap-timepicker">
																							<input id="sendTimeDetail" type="text" class="form-control" />
																								<span class="input-group-addon">
																									<i class="fa fa-clock-o bigger-110"></i>
																								</span>
																							</div>
																						</div>
																					</label>
																				</div>
																			</fieldset>
																			<fieldset style="padding:16px" id="showTimeList">
																				<label class="col-sm-2 control-label no-padding-right">寄送週期</label>
																					<div class="col-sm-10">
																						<div class="widget-box">
																							<div class="widget-body">
																								<fieldset style="padding:16px">
																									<div class="radio">
																										<label>
																											<input name="circleType" type="radio" class="my" value="yearly" />
																											<span class="lbl"> 每年 </span>
																										</label>
																										<label class="inline">
																												<select class="form-control" id="yearlyMonth" >
																													<option value="">請選擇月份...</option>
																													<option value="01">1</option>
																													<option value="02">2</option>
																													<option value="03">3</option>
																													<option value="04">4</option>
																													<option value="05">5</option>
																													<option value="06">6</option>
																													<option value="07">7</option>
																													<option value="08">8</option>
																													<option value="09">9</option>
																													<option value="10">10</option>
																													<option value="11">11</option>
																													<option value="12">12</option>
																												</select>
																										</label>
																										<label class="inline">月</label>
																										<label class="inline">
																												<select class="form-control" id="yearlyDay" >
																													<option value="">請選擇日期...</option>
																													<option value="01">1</option>
																													<option value="02">2</option>
																													<option value="03">3</option>
																													<option value="04">4</option>
																													<option value="05">5</option>
																													<option value="06">6</option>
																													<option value="07">7</option>
																													<option value="08">8</option>
																													<option value="09">9</option>
																													<option value="10">10</option>
																													<option value="11">11</option>
																													<option value="12">12</option>
																													<option value="13">13</option>
																													<option value="14">14</option>
																													<option value="15">15</option>
																													<option value="16">16</option>
																													<option value="17">17</option>
																													<option value="18">18</option>
																													<option value="19">19</option>
																													<option value="20">20</option>
																													<option value="21">21</option>
																													<option value="22">22</option>
																													<option value="23">23</option>
																													<option value="24">24</option>
																													<option value="25">25</option>
																													<option value="26">26</option>
																													<option value="27">27</option>
																													<option value="28">28</option>
																													<option value="29">29</option>
																													<option value="30">30</option>
																												</select>
																										</label>
																										<label class="inline">日</label>
																									</div>
																								</fieldset>
																								<fieldset style="padding:16px">
																									<div class="radio">
																										<label>
																											<input name="circleType" type="radio" class="my" value="monthly" />
																											<span class="lbl"> 每月 </span>
																										</label>
																										<label class="inline">
																												<select class="form-control" id="monthlyDay" >
																													<option value="">請選擇日期...</option>
																													<option value="01">1</option>
																													<option value="02">2</option>
																													<option value="03">3</option>
																													<option value="04">4</option>
																													<option value="05">5</option>
																													<option value="06">6</option>
																													<option value="07">7</option>
																													<option value="08">8</option>
																													<option value="09">9</option>
																													<option value="10">10</option>
																													<option value="11">11</option>
																													<option value="12">12</option>
																													<option value="13">13</option>
																													<option value="14">14</option>
																													<option value="15">15</option>
																													<option value="16">16</option>
																													<option value="17">17</option>
																													<option value="18">18</option>
																													<option value="19">19</option>
																													<option value="20">20</option>
																													<option value="21">21</option>
																													<option value="22">22</option>
																													<option value="23">23</option>
																													<option value="24">24</option>
																													<option value="25">25</option>
																													<option value="26">26</option>
																													<option value="27">27</option>
																													<option value="28">28</option>
																													<option value="29">29</option>
																													<option value="30">30</option>
																												</select>
																										</label>
																										<label class="inline">日</label>
																									</div>
																								</fieldset>
																								<fieldset style="padding:16px">
																									<div class="radio">
																										<label>
																											<input name="circleType" type="radio" class="my" value="weekly" />
																											<span class="lbl"> 每週 &nbsp; &nbsp; &nbsp;</span>
																										</label>
																										<div class="widget-box inline">
																											<div class="widget-body">
																												<label style="padding:16px">
																													<label>
																														<input name="weekly" type="radio" class="my" value="1" />
																														<span class="lbl"> 週一 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="2" />
																														<span class="lbl"> 週二 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="3" />
																														<span class="lbl"> 週三 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="4" />
																														<span class="lbl"> 週四 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="5" />
																														<span class="lbl"> 週五 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="6" />
																														<span class="lbl"> 週六 </span>
																													</label>
																													<label>
																														<input name="weekly" type="radio" class="my" value="7" />
																														<span class="lbl"> 週日 </span>
																													</label>
																												</label>
																											</div>
																										</div>
																									</div>
																								</fieldset>
																							</div>
																						</div>
																					</div>
																			</fieldset>-->
																	</div>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">收件者</label>
														<div class="col-sm-9">
															<div class="radio inline">
																<label>
																	<input name="receiverMode" type="radio" class="my" value="dynamic" checked="true" />
																	<span class="lbl"> 動態指定</span>
																</label>
															</div>
															&nbsp; &nbsp;
															<div class="radio inline">
																<label>
																	<input name="receiverMode" type="radio" class="my" value="customize"/>
																	<span class="lbl"> 自訂</span>
																</label>
																<label>
																	<button class="pull-left btn btn-primary" type="button" id="id-btn-dialog1">
																	...</button>
																</label>
															</div>
														</div>
													</fieldset>
													<fieldset id="messagingSubjectHide">
														<label class="col-sm-2 control-label no-padding-right">主旨</label>
														<div class="col-sm-10" id="leave">
															<input type="text" id="messagingSubject" class="form-control" />
														</div>
													</fieldset>
													<fieldset id="showCont1">
														<label class="col-sm-2 control-label no-padding-right">內容</label>
														<!-- <div class="col-sm-10" id="leave">
															<textarea class="form-control" id="mailMessagingContent" placeholder="請輸入內容..."></textarea>
														</div>-->
														<div class="col-sm-10" id="mailContentDiv">
															<div id="mailMessagingContent"></div>
														</div>
													</fieldset>
													<fieldset id="showCont2">
														<label class="col-sm-2 control-label no-padding-right">內容</label>
														<div class="col-sm-10" id="leave">
															<input type="text" id="mobileMessagingContent" class="form-control" />
														</div>
													</fieldset>
													<fieldset>
														<label class="col-sm-2 control-label no-padding-right">引用變數</label>
														<div class="col-sm-10" id="leave">
															<select class="chosen-select form-control" id="parameters" data-placeholder="請選擇引用變數..."   multiple="multiple" style="display: none;">
																
															</select>
														</div>
													</fieldset>
													<div class="form-actions center">
														<button type="button" class="btn btn-success" onclick="addFormValue()">
															<i class="my-icon fa fa-check bigger-110"></i>
															確定新增 
														</button>
														<button class="btn" type="reset">
															<i class="my-icon fa fa-undo bigger-110"></i>
															重新輸入
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="receiverTipe" class="hide">
								<div id="addFieldset">
								</div>
								<fieldset style="padding:16px">
									<div class="col-sm-2">
										<a href="#" onclick="addReceiver()"><i class='my-icon fa fa-plus-circle bigger-160'></i></a>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
<!-- 		<th:block th:replace="fragments/script"/> -->
		<div th:replace="fragments/commonScript :: common_js(~{::script})">
		    <script th:src="@{/plugin/summernote-editor/summernote.min.js}"></script>
			<script th:src="@{/plugin/summernote-editor/lang/summernote-zh-TW.js}"></script>
			<script th:inline="javascript">
			/*<![CDATA[*/
				var eventTypes = [];
				var dext = 0;
				$(document).ready(function() {
					initEvent(); // 初始化事件
					
					$("#parameters").chosen().change(function(e, params) {
						 var chosenValues = $("#parameters").chosen().val();
						 //console.log("chosenValues:"+chosenValues);
						 if(chosenValues) {
							 for(var i=0; i<chosenValues.length;i++) {
								 var paramId = chosenValues[i].split("^")[0];
								 var paramValue = chosenValues[i].split("^")[1];
								 console.log("paramId="+paramId+",paramValue="+paramValue);
								 var sendtype = $('input[type=radio][name=sendType]:checked').val();
								 if(sendtype == "sms") {
									 var content = $("#mobileMessagingContent").val();
									 //console.log($(contentElement).val().indexOf("${" + chosenValues[i]+"}"));
									 if(content.indexOf("${" + paramValue + "}") < 0) {
										 //檢查內容沒有該參數才加入
										 var newContents = $("#mobileMessagingContent").val() + "${" + paramValue+"}";
										 $("#mobileMessagingContent").val(newContents);
									 }
								 } else if(sendtype == "email") {
									 var content = $("#mailMessagingContent").summernote('code');
									//console.log($(contentElement).val().indexOf("${" + chosenValues[i]+"}"));
									 if(content.indexOf("${" + paramValue + "}") < 0) {
										 //檢查內容沒有該參數才加入
										 var newContents = content + "${" + paramValue+"}";
										 $("#mailMessagingContent").summernote('code', newContents);
									 }
								 }
								 
							 }
						 }
					});
					
					//初始化內容編輯器
					$("#mailMessagingContent").summernote({
					  minHeight: 100,             // set minimum height of editor
					  maxHeight: 300,             // set maximum height of editor
					  placeholder: '請輸入郵件內容及格式...',
					  lang: 'zh-TW',
					  toolbar: [
						    // [groupName, [list of button]]
						    ['style', ['bold', 'italic', 'underline', 'clear']],
						    ['font', ['fontname', 'fontsize','color']],
						    ['para', ['ul', 'ol']],
						    ['Insert', ['link', 'hr']],
						    ['height', ['height']],
						    ['misc', ['codeview']]
						],
						fontNames: ['Arial', 'Consolas', 'Courier New', '新細明體', '微軟正黑體', '標楷體']
					});
					
					$("#systems").chosen().change(function() {
						var sysId = $(this).val();
						$("#eventTypes").empty();
						$("#eventTypes").append($('<option></option>').attr('value', ''));
						$.each(eventTypes, function(i, obj) {
							if(obj.systemId == sysId) {
								$("#eventTypes").append($('<option></option>').attr('value', obj.parameterValue).text(obj.parameterName));
							}
						});
						setInterval(function(){ $("#eventTypes").trigger('chosen:updated'); }, 1000);
					});
				});
				
				// 初始化事件
				function initEvent() {
					// 載入系統功能下拉選單
					eserviceAdmOption.chosenSystem("#systems", /*[[@{/common/systemList}]]*/);
					
					// 載入事件功能下拉選單
					//eserviceAdmOption.chosenParameter("#eventTypes", /*[[@{/common/optionList?categoryCode=EVENT_TYPE_JD}]]*/);
					getParameterOptions();
					
					// 取得參數代碼下拉選單
					eserviceAdmOption.chosenMsgTempParameter("#parameters", /*[[@{/common/msg/parameterList}]]*/);
					
					$('#sendTimeDetail').timepicker({
						minuteStep: 1,
						showSeconds: false,
						showMeridian: false,
						disableFocus: true,
						icons: {
							up: 'fa fa-chevron-up',
							down: 'fa fa-chevron-down'
						}
					}).on('focus', function() {
						$('#sendTimeDetail').timepicker('showWidget');
					}).next().on(my.click_event, function(){
						$(this).prev().focus();
					});
					
					// 觸發方式
					$('input[name=triggerType]').change(function() {
						if(this.value == 'api'){
							$("#showSet").hide();
						}else if(this.value == 'event'){
							$("#showSet").show();
						}else{
							//alertMsg("錯誤");
						}
					});
				
					//寄送方式
					$('input[type=radio][name=sendType]').change(function() {
						$("fieldset[name=receiverFor]").each(function(){
							$(this).remove();
						})
						dext = 0;
						if(this.value == 'sms'){
// 							$("#mobileMessagingContent").val($("#mailMessagingContent").val());
							$("#showCont2").show();
							$("#showCont1").hide();
							$("#messagingSubjectHide").hide();
							var mobile = '<fieldset style="padding:16px" id="mobile_0" name="receiverFor"><label class="col-sm-2 control-label no-padding-right">手機門號</label>'+
							'<div class="col-sm-8"><input type="text" id="receiver_0" class="form-control" /></div><div class="col-sm-2">'+
							'<a href="#" onclick="removeReceiver(0)"><i class="my-icon fa fa-trash bigger-160 red"></i></a></div></fieldset>';
							$("#addFieldset").append(mobile);
							dext = dext + 1;
						}else if(this.value == 'email'){
// 							$("#mailMessagingContent").val($("#mobileMessagingContent").val());
							$("#showCont2").hide();
							$("#showCont1").show();
							$("#messagingSubjectHide").show();
							var email = '<fieldset style="padding:16px" id="mail_0" name="receiverFor"><label class="col-sm-2 control-label no-padding-right">電子郵件</label>'+
							'<div class="col-sm-8"><input type="text" id="receiver_0" class="form-control" /></div><div class="col-sm-2">'+
							'<a href="#" onclick="removeReceiver(0)"><i class="my-icon fa fa-trash bigger-160 red"></i></a></div></fieldset>';
							$("#addFieldset").append(email);
							dext = dext + 1;
						}
					});
					
					//寄送時間
					$('input[type=radio][name=sendTimeRadio]').change(function() {
							if(this.value == 'now'){
								$("#showTime").hide();
								$("#showTimeList").hide();
							}else if(this.value == 'sendTime'){
								$("#showTime").show();
								$("#showTimeList").show();
							}else{
								alertMsg("錯誤");
							}
					});
					
					$("#showSet").hide();
					$("#showCont2").hide();
					$("#showTime").hide();
					$("#showTimeList").hide();
					
					$("#id-btn-dialog1").on('click', function(e) {
						e.preventDefault();
						var dialog = $( "#receiverTipe" ).removeClass('hide').dialog({
							modal: true,
							title: "<div class='widget-header widget-header-small center'><h4 class='smaller'>收件人設定</h4></div>",
							title_html: true,
							buttons: [ 
								{
									text: "確定",
									"class" : "btn btn-primary btn-minier",
									click: function() {
										$( this ).dialog( "close" ); 
									} 
								}
							],
							width: 600
						});
						
					});
					var email = '<fieldset style="padding:16px" id="mail_0" name="receiverFor"><label class="col-sm-2 control-label no-padding-right">電子郵件</label>'+
					'<div class="col-sm-8"><input type="text" id="receiver_0" class="form-control" /></div><div class="col-sm-2">'+
					'<a href="#" onclick="removeReceiver(0)"><i class="my-icon fa fa-trash bigger-160 red"></i></a></div></fieldset>';
					$("#addFieldset").append(email);
					dext = dext + 1;
					
					eserviceAdmEvent.initDialog();
					eserviceAdmEvent.initChosenSelect();
				}
				
				function getParameterOptions() {
					$.ajax({
						url : /*[[@{/common/optionList?categoryCode=EVENT_TYPE_JD}]]*/,
						type : "POST"
					}).done(function(data) {
						if (data.result == 'SUCCESS') {
							eventTypes = data.resultData;
							$("#eventTypes").append($('<option>-- 請先選擇系統別 --</option>').attr('value', ''));
							$("#eventTypes").trigger('chosen:updated');
						}
					});
				};
				
				function addFormValue() {
					$("#addError").hide();
					var sendTime = "";
					var circleType = "";
					var circleValue = "";
					var messagingContent = "";
					var receiverList = [];
					
					//檢查欄位輸入
					if($("#systems").val() == ""){
						$("#addError").show();
						$("#addErrorCont").text("請選擇系統別");
						return;
					}
					
					if($("#messagingTemplateCode").val() == ""){
						$("#addError").show();
						$("#addErrorCont").text("請輸入通信模版代號");
						return;
					}
					
					if($("#messagingTemplateName").val() == ""){
						$("#addError").show();
						$("#addErrorCont").text("請輸入通信模版名稱");
						return;
					}
					
					if(typeof($("input[type=radio][name=sendType]:checked").val()) == "undefined"){
						$("#addError").show();
						$("#addErrorCont").text("請選擇寄送方式");
						return;
					}
					
					if(typeof($("input[type=radio][name=triggerType]:checked").val()) == "undefined"){
						$("#addError").show();
						$("#addErrorCont").text("請選擇觸發方式");
						return;
					}
					
					if($("input[type=radio][name=triggerType]:checked").val() == "event"){
						if($("#eventTypes").val() == ""){
							$("#addError").show();
							$("#addErrorCont").text("請選擇事件類型");
							return;
						}
	
						if($("input[type=radio][name=sendTimeRadio]:checked").val() == "sendTime"){
							if($("#sendTimeDetail").val() == ""){
								$("#addError").show();
								$("#addErrorCont").text("請填入寄送時間");
								return;
							}else{
								sendTime = $("#sendTimeDetail").val()
								
								if(typeof($("input[type=radio][name=circleType]:checked").val()) == "undefined"){
									$("#addError").show();
									$("#addErrorCont").text("請選擇寄送週期");
									return;
								}
								
								circleType = $("input[type=radio][name=circleType]:checked").val();
								
								if(circleType == "yearly"){
									if($("#yearlyMonth").val() == "" || $("#yearlyDay").val() == ""){
										$("#addError").show();
										$("#addErrorCont").text("請選擇月日");
										return;
									}else{
										circleValue	= $("#yearlyMonth").val() + "/" + $("#yearlyDay").val();
									}
								}
								
								if(circleType == "monthly"){
									if($("#monthlyDay").val() == ""){
										$("#addError").show();
										$("#addErrorCont").text("請選擇日");
										return;
									}else{
										circleValue	= $("#monthlyDay").val();
									}
								}
								
								if(circleType == "weekly"){
									if(typeof($("input[type=radio][name=weekly]:checked").val()) == "undefined"){
										$("#addError").show();
										$("#addErrorCont").text("請選擇星期");
										return;
									}else{
										circleValue	= $("input[type=radio][name=weekly]:checked").val();
									}
								}
							}
						}else{
							sendTime = $("input[type=radio][name=sendTimeRadio]:checked").val();
						}
					}
					
					if(typeof($("input[type=radio][name=receiverMode]:checked").val()) == "undefined"){
						$("#addError").show();
						$("#addErrorCont").text("請選擇收件者接收類型");
						return;
					}else{
						//收件人資訊
						if($("input[type=radio][name=receiverMode]:checked").val() == "customize"){
							var check = false;
							$("input[id^=receiver_]").each(function(){
								receiverList.push($(this).val());
								if($(this).val() != ""){
									check = true;
								}
							});
							if(!check){
								$("#addError").show();
								$("#addErrorCont").text("請填入至少一個收件者資訊");
								return;
							}
						}
					}
					
					if($("#messagingSubject").val() =="" && $("input[type=radio][name=sendType]:checked").val() == "email"){
						$("#addError").show();
						$("#addErrorCont").text("請填寫主旨");
						return;
					};
					
					if($("input[type=radio][name=sendType]:checked").val() == "email"){
						if($("#mailMessagingContent").val() ==""){
							$("#addError").show();
							$("#addErrorCont").text("請填入內容");
							return;
						}
						//messagingContent = $("#mailMessagingContent").val();
						messagingContent = $("#mailMessagingContent").summernote('code');
					}
					
					if($("input[type=radio][name=sendType]:checked").val() == "sms"){
						if($("#mobileMessagingContent").val() ==""){
							$("#addError").show();
							$("#addErrorCont").text("請填入內容");
							return;
						}
						messagingContent = $("#mobileMessagingContent").val();
					}
					
					var formData = {
						systemId : $("#systems").val(),
						messagingTemplateCode : $("#messagingTemplateCode").val(),
						messagingTemplateName : $("#messagingTemplateName").val(),
						status : 1,
						triggerType : $("input[type=radio][name=triggerType]:checked").val(),
						eventType : $("#eventTypes").val(),
						sendType : $("input[type=radio][name=sendType]:checked").val(),
						sendTime : sendTime,
						circleType : circleType,
						circleValue : circleValue,
						receiverMode : $("input[type=radio][name=receiverMode]:checked").val(),
						messagingSubject : $("#messagingSubject").val(),
						messagingContent : messagingContent,
						parameters : $("#parameters").val(),
						messagingReceivers : receiverList
					};
					eserviceForm.post(/*[[@{/communctionTemp/insertMessagingTemplate}]]*/, formData, function(response) {
						if (response.result != 'SUCCESS') {
							alertMsg(response.resultMsg);
						} else {
							alertMsg("新增成功!");
						}
					});
				}
				
				function addReceiver(){	
					var email = '<fieldset style="padding:16px" id="mail_'+dext+'" name="receiverFor"><label class="col-sm-2 control-label no-padding-right">電子郵件</label>'+
						'<div class="col-sm-8"><input type="text" id="receiver_'+dext+'" class="form-control" /></div><div class="col-sm-2">'+
						'<a href="#" onclick="removeReceiver('+dext+')"><i class="my-icon fa fa-trash bigger-160 red"></i></a></div></fieldset>';
				
					var mobile = '<fieldset style="padding:16px" id="mobile_'+dext+'" name="receiverFor"><label class="col-sm-2 control-label no-padding-right">手機門號</label>'+
						'<div class="col-sm-8"><input type="text" id="receiver_'+dext+'" class="form-control" /></div><div class="col-sm-2">'+
						'<a href="#" onclick="removeReceiver('+dext+')"><i class="my-icon fa fa-trash bigger-160 red"></i></a></div></fieldset>';
					
					if($("input[type=radio][name=sendType]:checked").val() == "sms"){
						$("#addFieldset").append(mobile);
					}
					if($("input[type=radio][name=sendType]:checked").val() == "email"){
						$("#addFieldset").append(email);
					}
					dext = dext + 1;
				}
				
				function removeReceiver(dex){
					if($("input[type=radio][name=sendType]:checked").val() == "sms"){
						$("#mobile_"+dex).remove();
					}
					if($("input[type=radio][name=sendType]:checked").val() == "email"){
						$("#mail_"+dex).remove();
					}
				}
			/*]]>*/
			</script>
		</div>
		
	</body>
</html>
