<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/head"/>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='jdzqNotifyManagementDetail')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-signal" aria-hidden="true"></i>
									通信管理
								<i class="my-icon fa fa-angle-double-right"></i>
									經代專區通知記錄
							</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="row">
							<div class="row">
								<div class="col-xs-12">
									<form class="form-horizontal" role="form" id="form1">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 主旨 </label>
											<div class="col-sm-5">
												<input type="text" id="commTempSubject" placeholder="輸入欲查詢的主旨" class="form-control" />
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label text-right no-padding-right">通路：</label>
											<div class="col-sm-7">
												<select class="chosen-select form-control" id="passageWaySelect" data-placeholder="請選擇通路...">
												</select>
											</div>
										</div>
										<div class="col-md-offset-3 col-md-9">
											<button id="qryBtn" class="btn btn-success" type="button">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
											&nbsp; &nbsp; &nbsp;
											<button id="resetBtn" class="btn" type="reset">
												<i class="my-icon fa fa-undo bigger-110"></i>
												重新輸入
											</button>
										</div>
									</form>
								</div>
							</div>
							<div class="hr hr-18 dotted hr-double"></div>
							<div class="row">
								<div class="col-xs-12">
									<div id="show-detail-results" hidden="true">
										<h3 class="header smaller lighter blue">查詢結果</h3>
										<div>
											<div id="showMessage" class="alert alert-info">
												<i class="my-icon fa fa-hand-o-right"></i>
												<span id="errorMsg"></span>
											</div>
											<table id="grid"></table>
											<div id="pager"></div>
										</div>
									</div>
								</div>
							</div>
							<div id="msgDialog" class="hide">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<th:block th:replace="fragments/script"/>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var grid;
		var msgMap = {}
		$(function() {
			eserviceAdmOption.chosenCommon("#passageWaySelect", /*[[@{/jdDeptMgnt/getPassageWay}]]*/, 'VALUE');
			// 初始 jqGridUtil 物件
			grid = new jqGridUtil();
			grid.id = '#grid';
			grid.url = /*[[@{/getJdzqMsgSchedule}]]*/;
			grid.caption = '通知記錄';
			grid.colNames = ['主旨', '建立時間', '通知顯示時間', 'ICON'];
			grid.colModel = [
				{name:'TITLE',index:'TITLE'},
				{name:'CREATE_DATE',index:'CREATE_DATE'},
				{name:'NOTIFY_TIME',index:'NOTIFY_TIME'},
				{align: 'left', formatter: function(cellvalue, options, row) {
					var editHtml = '';
					msgMap[row.ID] = row
					editHtml += '<a onclick="showTarget(\'通知接收人設定\', \'' +  row.NOTIFY_TARGET + '\')" class="green bigger-140 show-details-btn" title="通知接收人設定">';
					editHtml += '    <i class="my-icon fa fa-user bigger-120"></i> <span class="sr-only">Details</span>';
					editHtml += '</a>';
					editHtml += '<a onclick="showMsg(\'通知內容設定\', \'' +  row.ID + '\')" class="green bigger-140 show-details-btn" title="通知內容設定">';
					editHtml += '    <i class="my-icon fa fa-info bigger-120"></i> <span class="sr-only">Details</span>';
					editHtml += '</a>';
					if (row.STATUS == 1) {
						editHtml += '<a href="javascript:delNotifyMsg(\'' + row.ID + '\')" class="green bigger-140 show-details-btn" title="刪除通知">';
						editHtml += '    <i class="my-icon fa fa-trash bigger-120"></i> <span class="sr-only">Details</span>';
						editHtml += '</a>';
					}
					return editHtml;
				}} 
			];
			
			// 查詢
			$('#qryBtn').click(function() {
				// 設定查詢條件
				grid.setPostData('title', $('#commTempSubject').val());
				grid.setPostData('passageWay', $('#passageWaySelect option:selected').val());
				// 顯示查詢結果
				grid.create();
				$('#show-detail-results').show();
			});
			
			// 重新輸入
			$('#resetBtn').click(function() {
				$('#form1')[0].reset();
				$('.chosen-select').val('').trigger('chosen:updated'); // 重置下拉選單
			});

			eserviceAdmEvent.initChosenSelect();
			eserviceAdmEvent.initDateRangePickerNotAutoUpdate('#dateRange');
		});
		
		function toEdit(messagingTemplateId) {
			$('#editForm #messagingTemplateId').val(messagingTemplateId);
			$('#editForm')[0].submit();
		}

		function closeMsgDialog() {
			$('#msgDialog').dialog('close')
		}

		function showTarget(title, msg) {
			html = '<ul style="list-style: none">'
			msg.split(',').forEach(function(item, index) {
				html += '<li>' + item + '</li>'
			})
			html += '</ul>'
			showDialog(title, html)
		}

		function showMsg(title, rowId) {
			showDialog(title, msgMap[rowId].MSG_CONTENT)
		}

		function showDialog(title, msg) {
			$( "#msgDialog").html(msg)
		    $( "#msgDialog").removeClass('hide').dialog({
                modal: true,
                title: title,
                buttons: [
                    {
                        text: "確定",
                        "class" : "btn btn-primary btn-minier",
                        click: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                ],
                width: 600
            });
		}

		function delNotifyMsg(id) {
			confirmMsg('是否確認刪除', function(r) {
				if (r) {
					var formData = {
						id : id
					};
					eserviceForm.post(/*[[@{/deleteNotifyMsg}]]*/, formData, function(response) {
						alertMsg("刪除成功！");
						grid.reload()
					});
				} else {
					return false;
				}
			});
		}

		/*]]>*/
		</script>
	</body>
</html>