<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.adm.dao.JdBatchPlanDao">

    <resultMap id="BaseResultMap" type="com.twfhclife.adm.model.JdBatchSchedulVO">
        <result column="BATCH_ID" property="batchId" />
        <result column="BATCH_STATUS" property="batchStatus" />
        <result column="BATCH_JOIN_TIME" property="batchJoinTime" />
        <result column="BATCH_START_TIME" property="batchStartTime" />
        <result column="BATCH_END_TIME" property="batchEndTime" />
        <result column="FAIL_NUM" property="failNum" />
        <result column="FAIL_LINK" property="failLink" />
        <result column="TYPE" property="type" />
        <result column="BATCH_FILE" property="batchFile" />
    </resultMap>

    <select id="getUsers" resultType="hashmap">
        SELECT
            *
        FROM (
                 SELECT
                     ROW_NUMBER() OVER (ORDER BY BATCH_JOIN_TIME DESC) AS ROW_NUM
        ,A.*
                 FROM (
                          SELECT BATCH_ID,BATCH_STATUS,BATCH_NAME,FORMAT(BATCH_JOIN_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_JOIN_TIME,
                                 FORMAT(BATCH_START_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_START_TIME,
                                 FORMAT(BATCH_END_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_END_TIME,FAIL_NUM,TYPE,BATCH_FILE FROM ESERVICE_JD.dbo.BATCH_PLAN  where TYPE = 'user'
                          ) A
             ) B
        WHERE
            B.ROW_NUM <![CDATA[<=]]> #{vo.page} * #{vo.rows}
          AND B.ROW_NUM <![CDATA[>]]> (#{vo.page} - 1) * #{vo.rows} ORDER BY B.BATCH_JOIN_TIME DESC
    </select>



    <select id="getICs" resultType="hashmap">
        SELECT
            *
        FROM (
                 SELECT
                     ROW_NUMBER() OVER (ORDER BY BATCH_JOIN_TIME DESC) AS ROW_NUM
        ,A.*
                 FROM (
                          SELECT BATCH_ID,BATCH_STATUS,BATCH_NAME,FORMAT(BATCH_JOIN_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_JOIN_TIME,
                                 FORMAT(BATCH_START_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_START_TIME,
                                 FORMAT(BATCH_END_TIME, 'yyyy/MM/dd HH:mm:ss') AS BATCH_END_TIME,FAIL_NUM,TYPE,BATCH_FILE FROM ESERVICE_JD.dbo.BATCH_PLAN where TYPE = 'IC'
                      ) A
             ) B
        WHERE
            B.ROW_NUM <![CDATA[<=]]> #{vo.page} * #{vo.rows}
          AND B.ROW_NUM <![CDATA[>]]> (#{vo.page} - 1) * #{vo.rows} ORDER BY B.BATCH_JOIN_TIME DESC
    </select>


    <select id="countUsers" resultType="int">
        SELECT
            COUNT(1) AS AMOUNT
        FROM (
                 SELECT c.* FROM ESERVICE_JD.dbo.BATCH_PLAN c where c.TYPE = 'user'
                 ) t
    </select>

    <select id="countICs" resultType="int">
        SELECT
            COUNT(1) AS AMOUNT
        FROM (
                 SELECT c.* FROM ESERVICE_JD.dbo.BATCH_PLAN c where c.TYPE = 'IC'
                 ) t
    </select>

    <insert id="addBatchPlan">
        insert ESERVICE_JD.dbo.BATCH_PLAN(BATCH_ID,BATCH_STATUS,BATCH_NAME,BATCH_JOIN_TIME,BATCH_START_TIME,BATCH_END_TIME,FAIL_NUM,FAIL_LINK,TYPE,BATCH_FILE)
            values(
        NEWID(),
        #{jdBatchSchedulVO.batchStatus,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.batchName,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.batchJoinTime,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.batchStartTime,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.batchEndTime,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.failNum,jdbcType=INTEGER},
        #{jdBatchSchedulVO.failLink,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.type,jdbcType=VARCHAR},
        #{jdBatchSchedulVO.batchFile,jdbcType=VARCHAR})
    </insert>

    <select id="getBatch" resultMap="BaseResultMap">
        SELECT BATCH_ID,BATCH_STATUS,BATCH_NAME,BATCH_JOIN_TIME,BATCH_START_TIME,BATCH_END_TIME,FAIL_NUM,TYPE,BATCH_FILE FROM ESERVICE_JD.dbo.BATCH_PLAN  where BATCH_STATUS = 'waiting' and TYPE = 'USER'
    </select>

    <update id="updateBatchPlan">
        update ESERVICE_JD.dbo.BATCH_PLAN
        <set>
            <if test="jdBatchSchedulVO.batchStatus != null and jdBatchSchedulVO.batchStatus != ''">
                BATCH_STATUS = #{jdBatchSchedulVO.batchStatus}
            </if>
            <if test="jdBatchSchedulVO.batchStartTime != null and jdBatchSchedulVO.batchStartTime != ''">
                ,BATCH_START_TIME = #{jdBatchSchedulVO.batchStartTime}
            </if>
            <if test="jdBatchSchedulVO.batchEndTime != null and jdBatchSchedulVO.batchEndTime != ''">
                ,BATCH_END_TIME = #{jdBatchSchedulVO.batchEndTime}
            </if>
            <if test="jdBatchSchedulVO.failNum != null and jdBatchSchedulVO.failNum != ''">
                ,FAIL_NUM = #{jdBatchSchedulVO.failNum}
            </if>
            <if test="jdBatchSchedulVO.failLink != null and jdBatchSchedulVO.failLink != ''">
                ,FAIL_LINK = #{jdBatchSchedulVO.failLink}
            </if>
            <where>
                BATCH_ID = #{jdBatchSchedulVO.batchId}
            </where>
             </set>
    </update>

    <select id="getBatchLink" resultType="com.twfhclife.adm.model.JdBatchSchedulVO" parameterType="java.lang.String">
        SELECT c.BATCH_FILE FROM ESERVICE_JD.dbo.BATCH_PLAN c where c.BATCH_ID = #{batchId}
    </select>

    <select id="getBatchFailLink" resultType="com.twfhclife.adm.model.JdBatchSchedulVO" parameterType="java.lang.String">
        SELECT c.FAIL_LINK FROM ESERVICE_JD.dbo.BATCH_PLAN c where c.BATCH_ID = #{batchId}
    </select>

    <select id="getICBatch" resultMap="BaseResultMap">
        SELECT BATCH_ID,BATCH_STATUS,BATCH_NAME,BATCH_JOIN_TIME,BATCH_START_TIME,BATCH_END_TIME,FAIL_NUM,TYPE,BATCH_FILE FROM ESERVICE_JD.dbo.BATCH_PLAN  where BATCH_STATUS = 'waiting' and TYPE = 'IC'
    </select>
</mapper>