<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.adm.dao.JdPolicyClaimDetailDao">

    <resultMap id="BaseResultMap" type="com.twfhclife.adm.model.JdPolicyClaimDetailVo">
        <result column="PARAMETER_NAME" property="parameterName"/>
        <result column="PARAMETER_CODE" property="parameterCode"/>
        <result column="BPMCurrentTak" property="bpmcurrenttak"/>

    </resultMap>

    <select id="getBpmcurrenttak" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT PARAMETER_CODE,PARAMETER_NAME FROM ESERVICE_ADM.dbo.PARAMETER a left join ESERVICE_ADM.dbo.PARAMETER_CATEGORY b on a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID where a.SYSTEM_ID = 'eservice_jd' and b.CATEGORY_CODE = 'JDZQ_LEVEL_STATES_CATEGORY' group by  PARAMETER_CODE,PARAMETER_NAME
    </select>

</mapper>