<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.adm.dao.JdUserEntityDao">

	<resultMap id="UserEntityMap" type="com.twfhclife.adm.model.UserEntityVo" >
		<result column="ID" property="id"/>
		<result column="EMAIL" property="email"/>
		<result column="EMAIL_CONSTRAINT" property="emailConstraint"/>
		<result column="EMAIL_VERIFIED" property="emailVerified"/>
		<result column="ENABLED" property="enabled"/>
		<result column="FEDERATION_LINK" property="federationLink"/>
		<result column="FIRST_NAME" property="firstName"/>
		<result column="LAST_NAME" property="lastName"/>
		<result column="REALM_ID" property="realmId"/>
		<result column="USERNAME" property="username"/>
		<result column="CREATED_TIMESTAMP" property="createdTimestamp"/>
		<result column="SERVICE_ACCOUNT_CLIENT_LINK" property="serviceAccountClientLink"/>
		<result column="NOT_BEFORE" property="notBefore"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,EMAIL,EMAIL_CONSTRAINT,EMAIL_VERIFIED,ENABLED,FEDERATION_LINK,FIRST_NAME,LAST_NAME,REALM_ID,USERNAME,CREATED_TIMESTAMP,SERVICE_ACCOUNT_CLIENT_LINK,NOT_BEFORE
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="userEntityVo.id != null and userEntityVo.id != ''"> AND ID = #{userEntityVo.id} </if>
			<if test="userEntityVo.email != null and userEntityVo.email != ''"> AND EMAIL = #{userEntityVo.email} </if>
			<if test="userEntityVo.emailConstraint != null and userEntityVo.emailConstraint != ''"> AND EMAIL_CONSTRAINT = #{userEntityVo.emailConstraint} </if>
			<if test="userEntityVo.emailVerified != null"> AND EMAIL_VERIFIED = #{userEntityVo.emailVerified} </if>
			<if test="userEntityVo.enabled != null"> AND ENABLED = #{userEntityVo.enabled} </if>
			<if test="userEntityVo.federationLink != null and userEntityVo.federationLink != ''"> AND FEDERATION_LINK = #{userEntityVo.federationLink} </if>
			<if test="userEntityVo.firstName != null and userEntityVo.firstName != ''"> AND FIRST_NAME = #{userEntityVo.firstName} </if>
			<if test="userEntityVo.lastName != null and userEntityVo.lastName != ''"> AND LAST_NAME = #{userEntityVo.lastName} </if>
			<if test="userEntityVo.realmId != null and userEntityVo.realmId != ''"> AND REALM_ID = #{userEntityVo.realmId} </if>
			<if test="userEntityVo.username != null and userEntityVo.username != ''"> AND USERNAME = #{userEntityVo.username} </if>
			<if test="userEntityVo.createdTimestamp != null"> AND CREATED_TIMESTAMP = #{userEntityVo.createdTimestamp} </if>
			<if test="userEntityVo.serviceAccountClientLink != null and userEntityVo.serviceAccountClientLink != ''"> AND SERVICE_ACCOUNT_CLIENT_LINK = #{userEntityVo.serviceAccountClientLink} </if>
			<if test="userEntityVo.notBefore != null"> AND NOT_BEFORE = #{userEntityVo.notBefore} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND ID = #{userEntityVo.id}
		</where>
	</sql>
	
	<!-- include sql: 人員管理查詢結果 -->
	<sql id="INC1">
		SELECT
		a.ID,a.EMAIL,a.EMAIL_CONSTRAINT,a.EMAIL_VERIFIED,a.ENABLED,a.FEDERATION_LINK,a.FIRST_NAME,a.LAST_NAME,a.REALM_ID,b.USER_ID AS USERNAME,a.CREATED_TIMESTAMP,a.SERVICE_ACCOUNT_CLIENT_LINK,a.NOT_BEFORE
		FROM
		ESERVICE_ADM.DBO.USER_ENTITY a left join ESERVICE_JD.dbo.USERS b on USERNAME = b.USER_ID
		<where>
			<if test="userEntityVo.username != null and userEntityVo.username != ''">
				 AND UPPER(a.USERNAME) LIKE UPPER(CONCAT(CONCAT('%', #{userEntityVo.username}),'%'))
			</if>
			<if test="userEntityVo.userId != null and userEntityVo.userId != ''"> AND a.ID = #{userEntityVo.userId} </if>
			<if test="userEntityVo.lastName != null and userEntityVo.lastName != ''"> AND UPPER(CONCAT(a.LAST_NAME, a.FIRST_NAME)) LIKE UPPER(CONCAT(CONCAT('%', #{userEntityVo.lastName}),'%'))</if>
			<if test="userEntityVo.realmId != null and userEntityVo.realmId != ''"> AND a.REALM_ID = #{userEntityVo.realmId} </if>
			<if test="userEntityVo.systemId != null and userEntityVo.systemId != ''">
				AND a.ID IN (
					SELECT USER_ID FROM ESERVICE_ADM.DBO.USER_ROLE
					WHERE ROLE_ID IN (
						SELECT ROLE_ID FROM ESERVICE_ADM.DBO.ROLE_SYS_AUTH
						WHERE SYS_ID = #{userEntityVo.systemId}
					)
				)
			</if>
			<if test="userEntityVo.status != null and userEntityVo.status != ''">
				AND a.USERNAME IN (
				SELECT USER_ID FROM ESERVICE_JD.DBO.USERS WHERE STATUS = #{userEntityVo.status}
				)
			</if>
			<if test="userEntityVo.salespersonId != null and userEntityVo.salespersonId != ''">
				AND a.USERNAME IN (
				SELECT USER_ID FROM  ESERVICE_JD.DBO.USERS WHERE IC_ID = #{userEntityVo.salespersonId}
				)
			</if>
			<if test="userEntityVo.parentDep != null and userEntityVo.parentDep != ''">
				AND a.ID  IN (
				SELECT
				udd.USER_ID
				FROM ESERVICE_JD.DBO.USER_DEPARTMENT udd where
				udd.DEP_ID in ( select d.PARENT_DEP from ESERVICE_JD.DBO.DEPARTMENT d WHERE d.PARENT_DEP = #{userEntityVo.parentDep} ) )
				<if test="userEntityVo.branchId != null and userEntityVo.branchId != ''">
					AND a.ID  IN (
					SELECT
					udd.USER_ID
					FROM ESERVICE_JD.DBO.USER_DEPARTMENT udd
					WHERE udd.BRANCH_ID = #{userEntityVo.branchId}
					)
				</if>
			</if>

			<if test="userEntityVo.department != null and userEntityVo.department != ''">
				AND a.ID  IN (
				SELECT
				udd.USER_ID
				FROM ESERVICE_JD.DBO.USER_DEPARTMENT udd
				inner JOIN ESERVICE_JD.DBO.DEPARTMENT dd on udd.DEP_ID=dd.DEP_ID
				WHERE UPPER(dd.DEP_NAME) LIKE UPPER(CONCAT(CONCAT('%', #{userEntityVo.department}),'%'))
				)
			</if>
			<if test="userEntityVo.jobTitle != null and userEntityVo.jobTitle != ''">
				AND a.ID IN (
			        SELECT
			        	udt.USER_ID
			        FROM ESERVICE_JD.DBO.USER_DEPARTMENT udt
			        LEFT JOIN ESERVICE_ADM.DBO.JOB_TITLE jt on udt.TITLE_ID=jt.TITLE_ID
			        WHERE UPPER(jt.TITLE_NAME) LIKE UPPER(CONCAT(CONCAT('%', #{userEntityVo.jobTitle}),'%'))
			    )
			</if>
			<if test="userEntityVo.roleId != null and userEntityVo.roleId != ''">
				AND a.ID IN (
				SELECT
				urr.USER_ID
				FROM ESERVICE_ADM.DBO.USER_ROLE urr
				LEFT JOIN ESERVICE_ADM.DBO.ROLE rr on urr.ROLE_ID=rr.ROLE_ID where rr.ROLE_ID = #{userEntityVo.roleId}
			    )
			</if>
		</where>
	</sql>
	
	<!-- 取得人員管理查詢結果(分頁) -->
	<select id="getUserEntityPageList" resultType="hashmap">
		SELECT
			*
		FROM (
			SELECT
				ROW_NUMBER() OVER (ORDER BY USERNAME) AS ROW_NUM
				,A.*
			FROM (
				<include refid="INC1" />
			) A
		) B		
		WHERE
			B.ROW_NUM <![CDATA[<=]]> #{userEntityVo.page} * #{userEntityVo.rows}
			AND B.ROW_NUM <![CDATA[>]]> (#{userEntityVo.page} - 1) * #{userEntityVo.rows}	
	</select>
	
	<!-- 取得人員管理查詢結果(總筆數) -->
	<select id="getUserEntityPageTotal" resultType="int">
		SELECT
			COUNT(1) AS AMOUNT
		FROM (
			<include refid="INC1" />
		) t
	</select>
	
	<!-- 取得人員管理查詢結果 -->
	<select id="getUserEntity" resultMap="UserEntityMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE_ADM.DBO.USER_ENTITY
		<include refid="whereClause" />
	</select>

	<select id="getNotifyUsers" resultType="hashmap">
		SELECT d1.DEP_NAME PASSAGE_WAY, A.ID, B.USER_ID, B.IC_ID SERIAL_NUM, B.USER_NAME
		FROM ESERVICE_JD.DBO.USERS B
		INNER JOIN ESERVICE_ADM.DBO.USER_ENTITY A ON B.USER_ID = A.USERNAME COLLATE database_default
		INNER JOIN ESERVICE_JD.DBO.USER_DEPARTMENT RD ON A.ID = RD.USER_ID COLLATE database_default
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D1 ON D1.DEP_ID = RD.DEP_ID COLLATE database_default
		WHERE A.REALM_ID = 'elife_jdzq' AND D1.DEP_ID = #{vo.passageWay}
	</select>

	<select id="getUser" resultMap="UserEntityMap">
		select * from ESERVICE_ADM.dbo.USER_ENTITY where REALM_ID = #{reamId} and USERNAME = #{userName}
	</select>
</mapper>