<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/head"/>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='jdRole')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-user" aria-hidden="true"></i>
								權限管理
								<i class="my-icon fa fa-angle-double-right"></i>
								經代專區
								<i class="my-icon fa fa-angle-double-right"></i>
								角色管理
							</li>
						</ul>
					</div>
					<div class="page-content" div id="selectNode">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" id="form1" role="form" action="#">
									<div class="form-group">
										<label class="col-sm-3 control-label " for="form-field-1">通路别：</label>
										<div class="col-sm-9">
											<div>
												<select id="deptParentSelect1" ></select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label " for="form-field-1">查詢角色：</label>
										<div class="col-sm-9">
											<div>
												<select id="roleSelect" >
													<option value="" checked>請選擇</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-offset-3 col-md-9">
											<button id="qryBtn" class="btn btn-success" type="button">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
											&nbsp; &nbsp; &nbsp;
											<button id="addRoleBtn" class="btn btn-primary" type="button">
												<i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i>
												新增角色
											</button>
										</div>
<!--										<div class="col-sm-6">-->
<!--											<div>-->
<!--												<button type="button" class="btn btn-success" id="qryBtn">-->
<!--													<i class="my-icon fa fa-check bigger-110"></i>-->
<!--													查詢-->
<!--												</button>&nbsp&nbsp-->
<!--												<button type="button" id="addRoleBtn" class="btn btn-primary">-->
<!--													<i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i>-->
<!--													新增角色-->
<!--												</button>-->
<!--											</div>-->
<!--										</div>-->
									</div>
								</form>
							</div>
						</div>
						<div class="hr hr-18 dotted hr-double"></div>
						<div class="row">
							<div class="col-xs-12">
								<div id="show-detail-results">
<!-- 									<h3 class="header smaller lighter blue">查詢結果</h3> -->
									<div>
<!-- 										<div class="row"> -->
<!-- 											<div class="col-xs-12"> -->
<!-- 												<div id="dynamic-table_filter" class="dataTables_filter"> -->
<!-- 													<button type="button" id="addRoleBtn" class="btn btn-primary"> -->
<!-- 														<i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i> -->
<!-- 														新增角色 -->
<!-- 													</button> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->
										<table id="grid"></table>
										<div id="pager"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="editDiv" class="hide">
						<div class="widget-main no-padding">
							<form id="editForm">
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>角色代碼：</label>
									<div class="col-sm-8">
										<input type="text" id="divRoleId" class="form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>角色名稱：</label>
									<div class="col-sm-8">
										<input type="text" id="roleName" class="form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>通路别：</label>
									<div class="col-sm-8">
										<select id="deptParentSelect" ></select>
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right">角色描述：</label>
									<div class="col-sm-8">
										<input type="text" id="description" class="form-control" />
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div id="editDiv1" class="hide">
						<div class="widget-main no-padding">
							<form id="editForm1">
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>角色代碼：</label>
									<div class="col-sm-8">
										<input type="text" id="divRoleId1" class="form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>角色名稱：</label>
									<div class="col-sm-8">
										<input type="text" id="roleName1" class="form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right"><label class="red">*</label>通路别：</label>
									<div class="col-sm-8">
										<input type="text" id="depName1" class="form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label class="col-sm-4 control-label no-padding-right">角色描述：</label>
									<div class="col-sm-8">
										<input type="text" id="description1" class="form-control" />
									</div>
								</fieldset>
							</form>
						</div>
					</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<th:block th:replace="fragments/script"/>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var grid;
		$(function() {
			// 獲取通路名稱下拉框
			eserviceAdmOption.dept('#deptParentSelect', /*[[@{jd/common/dept/parentList}]]*/);

			eserviceAdmOption.dept('#deptParentSelect1', /*[[@{jd/common/dept/parentList}]]*/);

			$('#deptParentSelect1').on('click', function() {
				var formData = {
					depId: $('#selectNode #deptParentSelect1').val()
				};
				$.ajax({
					url: /*[[@{/jd/common/depRoleList}]]*/,
					contentType: 'application/json',
					type: "POST",
					async: true,
					data: JSON.stringify(formData),
					success: function (response) {
						$("#selectNode #roleSelect").empty();
						$("#selectNode #roleSelect").append("<option checked value=''>請選擇</option>");
						if (response.result == 'SUCCESS'){
							if (response.resultData.length >0){
								for (var i = 0; i < response.resultData.length; i++) {
									var option = "<option value='" + response.resultData[i].roleId + "'>" +  response.resultData[i].roleName + "</option>";
									$("#selectNode #roleSelect").append(option);
								}
							}
						}else {
							alertMsg('系統發生錯誤');
						}
					}
				});
			});


			// 初始 jqGridUtil 物件
			grid = new jqGridUtil();
			grid.id = '#grid';
			grid.url = /*[[@{/jdRole/getRoleDetail}]]*/;
			grid.caption = '角色查詢結果';
			grid.colNames = ['角色代碼','角色名稱', '通路名稱', '角色描述', '操作'];
			grid.colModel = [
				{name: 'DIV_ROLE_ID', index: 'DIV_ROLE_ID'},
				{name: 'ROLE_NAME', index: 'ROLE_NAME'},
				{name: 'DEPARTMENT_NAME', index: 'DEPARTMENT_NAME'},
				{name: 'DESCRIPTION', index: 'DESCRIPTION'},
				{align: 'center', formatter: function(cellvalue, options, row) {
					var actionHtml = '';
					// actionHtml += '<a href="javascript:editRole(\'' + row.ROLE_ID + '\',\'' + emptyIfNull(row.ROLE_NAME) + '\',\'' + emptyIfNull(row.DEPARTMENT_ID) + '\',\'' + emptyIfNull(row.DESCRIPTION) + '\');" class="green bigger-140 show-details-btn" title="修改">';
					actionHtml += '<a href="javascript:editRole(\'' + row.ROLE_ID + '\',\'' + emptyIfNull(row.ROLE_NAME) + '\',\'' + emptyIfNull(row.DEPARTMENT_NAME) + '\',\'' + emptyIfNull(row.DESCRIPTION) + '\',\'' + row.DIV_ROLE_ID+'\');" class="green bigger-140 show-details-btn" title="修改">';
					actionHtml += '    <i class="my-icon fa fa-pencil bigger-120"></i> <span class="sr-only">Details</span> ';
					actionHtml += '</a>';
					actionHtml += '<a href="javascript:deleteRole(\'' + row.ROLE_ID + '\',\'' + row.DEP_ID+'\');"class="green bigger-140 show-details-btn" title="刪除">';
						// actionHtml += '<a href="javascript:deleteRole(\'' + row.ROLE_ID + '\');" class="green bigger-140 show-details-btn" title="刪除">';
					actionHtml += '    <i class="my-icon fa fa-trash bigger-120"></i> <span class="sr-only">Details</span> ';
					actionHtml += '</a>';

					return actionHtml;
				}} 
			];
			grid.create();
			
			// 查詢
			$('#qryBtn').click(function() {
				// 設定查詢條件
				grid.setPostData('roleId', $('#selectNode #roleSelect').val());
				grid.setPostData('departmentId', $('#selectNode #deptParentSelect1').val());
				// 產生grid
				grid.create();
			});
			
			// 新增
			$('#addRoleBtn').on('click', function() {
				$('#divRoleId').val('');
				$('#roleName').val('');
				$('#description').val('');
				// $('#deptSelect').val('');
				$('#deptParentSelect').val('');
				var dialog = $('#editDiv').removeClass('hide').dialog({
					modal: true,
					title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='my-icon fa fa-check'></i>新增角色</h4></div>",
					title_html: true,
					buttons: [
						{
							text: '取消',
							'class' : 'btn',
							click: function() {
								$(this).dialog('close');
							}
						},
						{
							text: '確定',
							'class' : 'btn btn-primary',
							click: function() {
								if ($('#editDiv #divRoleId').val() == '') {
									alertMsg("請輸入角色代碼");
									return false;
								}
								if ($('#editDiv #roleName').val() == '') {
									alertMsg("請輸入角色名稱");
									return false;
								}
								if ($('#editDiv #deptParentSelect').val() == '') {
									alertMsg("請輸入通路别");
									return false;
								}
								var formData = {
									// departmentId: $('#deptSelect option:selected').val(),
									departmentId: $('#editDiv #deptParentSelect').val(),
									roleName : $('#editDiv #roleName').val(),
									description : $('#editDiv #description').val(),
									divRoleId: $('#editDiv #divRoleId').val(),
								};
								eserviceForm.post(/*[[@{/jdRole/insertRole}]]*/, formData, function(response) {
									alertMsg(response.resultMsg);
									$('#roleName').val('');
									$('#qryBtn').click();
								});

								$(this).dialog('close');
							}
						}
					],
					width: 600
				});
			});

			eserviceAdmEvent.initDialog();
		});

		// 更新
		function editRole(roleId, roleName, depName, description,divRoleId) {
			$('#editForm1 #roleId').val(roleId);
			$('#editForm1 #roleName1').val(roleName);
			$('#editForm1 #depName1').val(depName).attr("readonly","readonly");
			$('#editForm1 #description1').val(description);
			$('#editForm1 #divRoleId1').val(divRoleId).attr("readonly","readonly");
			var dialog = $('#editDiv1').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='my-icon fa fa-pencil'></i>修改角色</h4></div>",
				title_html: true,
				buttons: [
					{
						text: '取消',
						'class' : 'btn',
						click: function() {
							$('#editDiv1').dialog('close');
						}
					},
					{
						text: '確定',
						'class' : 'btn btn-primary',
						click: function() {
							if ($('#editForm1 #roleName1').val() == '') {
								alertMsg("請輸入角色名稱");
								return false;
							}
							confirmMsg('是否確認修改', function(r) {
								if (r) {
									var formData = {
										roleId : roleId,
										roleName : $('#editForm1 #roleName1').val(),
										description : $('#editForm1 #description1').val()
									};
									eserviceForm.post(/*[[@{/jdRole/updateRole}]]*/, formData, function(response) {
										alertMsg(response.resultMsg);
										grid.reload();
									});
									$('#editDiv1').dialog('close');
								} else {
									return false;
								}
							});
						}
					}
				],
				width: 600
			});
		}

		// 刪除
		function deleteRole(roleId,depId) {
			confirmMsg('是否確認刪除', function(r) {
				if (r) {
					var formData = {
						roleId : roleId,
						departmentId: depId
					};
					eserviceForm.post(/*[[@{/jdRole/deleteRole}]]*/, formData, function(response) {
						alertMsg(response.resultMsg);
						grid.reload();
					});
				} else {
					return false;
				}
			});
		}
		/*]]>*/
		</script>
	</body>
</html>
