<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/head"/>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='jdUserMgnt')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-user" aria-hidden="true"></i>
								權限管理
								<i class="my-icon fa fa-angle-double-right"></i>
								經代專區
								<i class="my-icon fa fa-angle-double-right"></i>
								人員管理
							</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="row" id="selectNode">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" id="form1" action="func7-1.html">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">系統帳號 </label>
										<div class="col-sm-5">
											<input type="text" id="username" placeholder="輸入欲查詢的系統帳號" class="form-control" />
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">帳號狀態 </label>
										<div class="col-sm-5">
											<div>
												<select id="statusSelect" >
													<option selected="statusSelect" disabled="disabled" style='display: none' value=''></option>
													<option value="Unenabled">未啟用</option>
													<option value="Enabled">已啟用</option>
													<option value="Disabled">已停用</option>
												</select>
											</div>
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">使用者名稱 </label>
										<div class="col-sm-5">
											<input type="text" id="lastName" placeholder="輸入欲查詢的使用者名稱" class="form-control" />
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">業務員編號 </label>
										<div class="col-sm-5">
											<input type="text" id="salespersonId" placeholder="輸入欲查詢的業務員編號" class="form-control" />
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="parentDepSelect">通路别</label>
										<div class="col-sm-5">
											<div>
												<select id="parentDepSelect" ></select>
											</div>
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="branchIdSelect">分支機構 </label>
										<div class="col-sm-5">
											<div>
											<select id="branchIdSelect" ></select>
											</div>
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="roleNameSelect">角色 </label>
										<div class="col-sm-5">
											<div>
											<select id="roleNameSelect" ></select>
											</div>
										</div>
										<div class="col-sm-4">
										</div>
									</div>
									<div class="col-md-offset-3 col-md-9">
										<button id="qryBtn" class="btn btn-success" type="button">
											<i class="my-icon fa fa-check bigger-110"></i>
											查詢
										</button>
										&nbsp; &nbsp; &nbsp;
										<button id="resetBtn" class="btn" type="reset">
											<i class="my-icon fa fa-undo bigger-110"></i>
											重新輸入
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="hr hr-18 dotted hr-double"></div>
						<div class="row">
							<div class="col-xs-12">
								<div id="show-detail-results" hidden="true">
<!-- 									<h3 class="header smaller lighter blue">查詢結果</h3> -->
									<div>
										<table id="qryGrid"></table>
										<div id="qryPager"></div>
									</div>
								</div>
							</div>
							<div id="editDeptDialog" class="hide">
								<div class="widget-main no-padding">
									<form id="editDeptForm">
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">使用者帳號 :</label>
											<div class="col-sm-10">
												<label id="showUserAcct"></label>
											</div>
										</fieldset>
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">使用者名稱 :</label>
											<div class="col-sm-10">
												<label id="showUserName"></label>
											</div>
										</fieldset>
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">通路名稱 :</label>
											<div class="col-sm-8">
												<select id="deptParentSelect" ></select>
											</div>
										</fieldset>
<!--										<fieldset>-->
<!--											<label class="col-sm-2 control-label text-right no-padding-right">單位名稱 :</label>-->
<!--											<div class="col-sm-8">-->
<!--												<select id="deptSelect"></select>-->
<!--											</div>-->
<!--										</fieldset>-->
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">分支機構 :</label>
											<div class="col-sm-8">
												<select id="branchId">
													<option checked value=''>請選擇分支機構</option>
												</select>
												<button type="button" id="addDeptBtn" class="btn btn-primary">
													<i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i>
													新增
												</button>
											</div>
										</fieldset>
									</form>
								</div>
								<div style="width: 750px">
									<table id="deptGrid"></table>
									<div id="deptPager"></div>
								</div>
							</div>
							<div id="editRoleDialog" class="hide">
								<div class="widget-main no-padding">
									<form id="editRoleForm">
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">角色 :</label>
											<div class="col-sm-10">
												<select id="roleSelect"></select>
												<button type="button" id="addRoleBtn" class="btn btn-primary">
													<i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i>
													新增
												</button>
											</div>
										</fieldset>
									</form>
								</div>
								<div style="width: 750px">
									<table id="roleGrid"></table>
									<div id="rolePager"></div>
								</div>
							</div>
						    <div id="editDeputyDialog" class="hide">
						        <div class="widget-main no-padding">
                                    <form id="editDeputyForm">
                                        <fieldset>
                                            <label class="col-sm-2 control-label text-right no-padding-right">使用者帳號 :</label>
                                            <div class="col-sm-10">
                                                <label id="showUserAcct"></label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <label class="col-sm-2 control-label text-right no-padding-right">使用者名稱 :</label>
                                            <div class="col-sm-10">
                                                <label id="showUserName"></label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <label class="col-sm-2 control-label text-right no-padding-right">代理人 :</label>
                                            <div class="col-sm-10">
                                                <select class="col-sm-3" id="deputyUserSelect"></select>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <label class="col-sm-2 control-label text-right no-padding-right">代理期間 :</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
	                                                <span class="input-group-addon">
	                                                    <i class="fa fa-calendar bigger-110"></i>
	                                                </span>
	                                                <input class="col-sm-5" type="text" name="dateRange" id="dateRange" />&nbsp;
	                                                <button type="button" id="addUserDeputyBtn" class="btn btn-primary">
                                                        <i class="ace-icon glyphicon glyphicon-plus" aria-hidden="true"></i>
                                                                                                                                            新增
	                                                </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div style="width: 750px">
                                    <table id="deputyGrid"></table>
                                    <div id="deputyPager"></div>
                                </div>
						    </div>
							<div id="editJdUser" class="hide">
								<div class="widget-main no-padding">
								</div>
								<div>
									<table id="jdUserGrid"></table>
									<div id="jdUserPager"></div>
								</div>
							</div>
							<div id="editJdUserIc" class="hide">
								<div class="widget-main no-padding">
								</div>
								<div style="width: 750px">
									<table id="jdUserIcGrid"></table>
									<div id="jdUserIcPager"></div>
								</div>

							</div>
							<div id="editJdMobile" class="hide">
								<div class="widget-main no-padding">
								</div>
								<div style="width: 750px">
									<table id="jdMobileInsuranceQuery"></table>
									<div id="jdMobileInsuranceQueryPager"></div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
		<th:block th:replace="fragments/script"/>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var qryGrid, deptGrid, roleGrid, deputyGrid,jdUserGrid,jdUserIcGrid,jdMobileInsuranceQuery;
		var selectUserId;
		$(function() {

			eserviceAdmOption.dept('#parentDepSelect', /*[[@{jd/common/dept/parentList}]]*/);
			$('#parentDepSelect').on('change', function() {
				$("#roleNameSelect").empty();
				$("#roleNameSelect").append('<option checked value="">請選擇角色</option>');
				if ($('#selectNode #parentDepSelect').val() != null && $('#selectNode #parentDepSelect').val() != '') {
						var formData = {
						depId: $('#selectNode #parentDepSelect').val()
					};
					$.ajax({
						url: /*[[@{/jd/common/depRoleList}]]*/,
						contentType: 'application/json',
						type: "POST",
						async: true,
						data: JSON.stringify(formData),
						success: function (response) {
							if (response.result == 'SUCCESS'){
								if (response.resultData.length >0){
									for (var i = 0; i < response.resultData.length; i++) {
										var option = "<option value='" + response.resultData[i].roleId + "'>" +  response.resultData[i].roleName + "</option>";
										$("#selectNode #roleNameSelect").append(option);
									}
								}
							}else {
								alertMsg('系統發生錯誤');
							}
						}
					});
				}
			});

			$('#parentDepSelect').on('change', function() {
				$("#selectNode #branchIdSelect").empty();
				$("#selectNode #branchIdSelect").append('<option checked value="">請選擇分支機構</option>');
				if ($('#selectNode #parentDepSelect').val() != null && $('#selectNode #parentDepSelect').val() != '') {
					var formData = {
						depId: $('#selectNode #parentDepSelect').val()
					};
					$.ajax({
						url: /*[[@{jd/common/branchList}]]*/,
						contentType: 'application/json',
						type: "POST",
						async: true,
						data: JSON.stringify(formData),
						success: function (response) {
							if (response.result == 'SUCCESS'){
								if (response.resultData.length >0){
									for (var i = 0; i < response.resultData.length; i++) {
										var option = "<option value='" + response.resultData[i].branchId + "'>" +  response.resultData[i].depName + "</option>";
										$("#selectNode #branchIdSelect").append(option);
									}
								}
							}else {
								alertMsg('系統發生錯誤');
							}
						}
					});
				}
			});


			$('#deptParentSelect').on('click', function() {
				var formData = {
					depId: $('#editDeptDialog #deptParentSelect').val()
				};
				$.ajax({
					url: /*[[@{jd/common/branchList}]]*/,
					contentType: 'application/json',
					type: "POST",
					async: true,
					data: JSON.stringify(formData),
					success: function (response) {
						$("#editDeptDialog #branchId").empty();
						$("#editDeptDialog #branchId").append("<option checked value=''>請選擇分支機構</option>");
						if (response.result == 'SUCCESS'){
							if (response.resultData.length >0){
								for (var i = 0; i < response.resultData.length; i++) {
									var option = "<option value='" + response.resultData[i].branchId + "'>" +  response.resultData[i].depName + "</option>";
									$("#editDeptDialog #branchId").append(option);
								}
							}
						}else {
							alertMsg('系統發生錯誤');
						}
					}
				});
			});

			initOption(); // 初始下拉選單
			initGrid();   // 初始Grid
			
			// 查詢
			$('#qryBtn').click(function() {
				// 設定查詢條件
				qryGrid.setPostData('username', $('#username').val());
				qryGrid.setPostData('userId', $('#userId').val());
				qryGrid.setPostData('status', $('#statusSelect option:selected').val());
				qryGrid.setPostData('salespersonId', $('#salespersonId').val());
				qryGrid.setPostData('lastName', $('#lastName').val());
				qryGrid.setPostData('parentDep', $('#selectNode #parentDepSelect').val());
				qryGrid.setPostData('department', $('#department').val());
				qryGrid.setPostData('branchId', $('#selectNode #branchIdSelect').val());
				qryGrid.setPostData('jobTitle', $('#jobTitle').val());
				qryGrid.setPostData('roleId', $('#selectNode #roleNameSelect').val());
				qryGrid.setPostData('roleName', $('#roleName').val());
				// 產生grid
				qryGrid.create();
				// 顯示查詢結果區域
				$('#show-detail-results').show();
			});

			$('#resetBtn').click(function() {
				$('#form1')[0].reset();
				$("#selectNode #branchIdSelect").empty();
				$("#roleNameSelect").empty();
			});

			// 新增人員部門
			$('#addDeptBtn').click(function() {
				var branchId1;
				if ($('#deptParentSelect').val() == '') {
					alertMsg("請輸入通路名稱");
					return false;
				}
				var formData = {
					userId : selectUserId,
					depId: $('#deptParentSelect').val(),
					branchId: $('#editDeptForm #branchId option:selected').val()==null?null:$('#editDeptForm #branchId option:selected').val()
					// titleId : $('#jobTitleSelect').val()
				};
				eserviceForm.post(/*[[@{/jdUserMgnt/insertUserDepartment}]]*/, formData, function(response) {
					alertMsg(response.resultMsg);
					deptGrid.reload();
					qryGrid.reload();
				});
			});
			
			// 新增人員角色
			$('#addRoleBtn').click(function() {
				if ($('#roleSelect').val() == '') {
					alertMsg("請輸入角色名稱");
					return false;
				}
				
				var formData = {
					userId : selectUserId,
					roleId : $('#roleSelect').val()
				};
				eserviceForm.post(/*[[@{/jdUserMgnt/insertUserRole}]]*/, formData, function(response) {
					alertMsg(response.resultMsg);
					roleGrid.reload();
					qryGrid.reload();
				});
			});
			
			eserviceAdmEvent.initDialog();
			
			$('input[id=dateRange]').daterangepicker({
                'applyClass' : 'btn-sm btn-success',
                'cancelClass' : 'btn-sm btn-default',
                maxDate : null,
                format:'YYYY/MM/DD',
                locale: {
                    applyLabel: 'Apply',
                    cancelLabel: 'Cancel'
                }
            });
			
			$('#addUserDeputyBtn').click(function(){
				addUserDeputy(selectUserId);
			});
			
			$('#deputyDeptSelect').on('change', function(){
				// 可代理人員
                var formData = {
                        userId: userId,
                        dept: $('deputyDeptSelect').val()
                }
                eserviceForm.post(url, formData, function(response){
               		$('#deputyUserSelect').html('');
               		var optHtml = '';
                	$.each(data.resultData, function(i, deputyUser) {
                		optHtml += '<option value="' + deputyUser.ID + '">' + deputyUser.USERNAME + '</option>';
                	});
                	$('#deputyUserSelect').html(optHtml);
                });
			});
		});

		function roleList(deptId) {
			$("#roleSelect").empty();
			$("#roleSelect").append("<option checked value=''>請選擇角色</option>");
			if (deptId != null && deptId != '') {
				 var formData1 = {
					depId: deptId
				};
				$.ajax({
						url: /*[[@{/jd/common/depRoleList}]]*/,
						contentType: 'application/json',
						type: "POST",
						data: JSON.stringify(formData1),
						success: function (res) {
							if (res.result == 'SUCCESS'){
								res.resultData.forEach(function(item,index){
									opt = "<option value='" + item.roleId + "'>" +  item.roleName + "</option>"
									$("#roleSelect").append(opt)
								})
							} else {
								alertMsg('系統發生錯誤');
							}
						}
					});
			}
		}

		// 初始下拉選單
		function initOption() {
			// 獲取通路名稱下拉框
			eserviceAdmOption.dept('#deptParentSelect', /*[[@{jd/common/dept/parentList}]]*/);

			// 取得職位名稱下拉選單
			// eserviceAdmOption.jobTitle('#jobTitleSelect', /*[[@{/common/jobTitleList}]]*/);
		}
		
		// 初始Grid
		function initGrid() {
			// 查詢結果grid
			qryGrid = new jqGridUtil();
			qryGrid.id = '#qryGrid';
			qryGrid.pager = '#qryPager';
			qryGrid.url = /*[[@{/jdUserMgnt/getUserEntityPageList}]]*/;
			qryGrid.caption = '人員查詢結果';
			qryGrid.colNames = ['使用者帳號', '使用者名稱', '角色', '通路別', '分支機構', '操作'];
			qryGrid.colModel = [
				{name: 'USERNAME', index: 'USERNAME'},
				{formatter: function(cellvalue, options, row) {
					return emptyIfNull(row.FIRST_NAME);
				}},
				{formatter: function(cellvalue, options, row) {
					return breakLine(row.ROLE_NAME_LIST);
				}},
				{formatter: function(cellvalue, options, row) {
					return breakLine(row.DEP_NAME_LIST);
				}},
				{formatter: function(cellvalue, options, row) {
					return breakLine(row.BRACH_NAME_LIST);
				}},
				{align: 'left', formatter: function(cellvalue, options, row) {
					var actionHtml = '';
					actionHtml += '<a href="javascript:openRoleDialog(\'' + row.ID + '\', \'' + row.DEP_ID  + '\');" class="green bigger-140 show-details-btn" title="人員角色設定">';
					actionHtml += '<i class="my-icon fa fa-group bigger-120"></i> <span class="sr-only">人員角色設定</span> ';
					actionHtml += '</a>';
					actionHtml += '&nbsp;&nbsp;';
					actionHtml += '<a href="javascript:openDeptDialog(\'' + row.ID + '\', \'' + row.USERNAME  + '\', \'' + (emptyIfNull(row.LAST_NAME) + emptyIfNull(row.FIRST_NAME)) +'\');" class="green bigger-140 show-details-btn" title="人員部門設定">';
					actionHtml += '<i class="my-icon fa fa-sitemap bigger-120"></i> <span class="sr-only">人員部門設定</span> ';
					actionHtml += '</a>';
					actionHtml += '&nbsp;&nbsp;';
					actionHtml += '<a href="javascript:openJdUser(\'' + row.USERNAME + '\');" class="green bigger-140 show-details-btn" title="人員詳細資料">';
					actionHtml += '<i class="my-icon fa fa-file bigger-120"></i> <span class="sr-only">人員詳細資料</span> ';
					actionHtml += '</a>';
					if (row.DIV_ROLE_ID_LIST == 'IC_PERSONNEL'){
						actionHtml += '&nbsp;&nbsp;';
						actionHtml += '<a href="javascript:openJdIc(\'' + row.ID + '\');" class="green bigger-140 show-details-btn" title="IC人員負責分行">';
						actionHtml += '<i class="my-icon fa fa-bookmark bigger-120"></i> <span class="sr-only">IC人員負責分行</span> ';
						actionHtml += '</a>';
					}
					// actionHtml += '&nbsp;&nbsp;';
					// actionHtml += '<a href="javascript:openDeputyDialog(\'' + row.ID + '\', \'' + row.USERNAME + '\', \'' + (emptyIfNull(row.LAST_NAME) + emptyIfNull(row.FIRST_NAME)) +'\');" class="green bigger-140 show-details-btn" title="設定代理人">';
					// actionHtml += '<i class="my-icon fa fa-user bigger-120"></i><span class="sr-only">設定代理人</span>';
					// actionHtml += '</a>';
						actionHtml += '&nbsp;&nbsp;';
						actionHtml += '<a href="javascript:openJdMobile(\'' + row.USERNAME + '\');" class="green bigger-140 show-details-btn" title="行投個人案件列表">';
						actionHtml += '<i class="my-icon fa fa-user bigger-120"></i><span class="sr-only">行投個人案件列表</span>';
						actionHtml += '</a>';
								//
					return actionHtml;
				}} 
			];

			// 部門grid
			deptGrid = new jqGridUtil();
			deptGrid.id = '#deptGrid';
			deptGrid.pager = '#deptPager';
			deptGrid.rowNum = 3;
			deptGrid.height = 122;
			deptGrid.url = /*[[@{/jdUserMgnt/getUserDepartmentPageList}]]*/;
			deptGrid.caption = '人員部門職位查詢';
			deptGrid.colNames = ['通路', '分支機構', '操作'];
			deptGrid.colModel = [
				{name: 'DEP_NAME', index: 'DEP_NAME'},
				{name: 'BRANCH_NAME', index: 'BRANCH_NAME'},
				{formatter: function(cellvalue, options, row) {
					var actionHtml = '';
						actionHtml += '<a href="javascript:deleteUserDepartment(\'' + row.DEP_ID + '\', \'' + emptyIfNull(row.TITLE_ID) + '\', \''+ row.BRANCH_ID+'\');" class="green bigger-140 show-details-btn" title="Edit">';
						actionHtml += '    <i class="my-icon fa fa-trash bigger-120"></i> <span class="sr-only">Details</span> ';
					actionHtml += '</a>';
					
					return actionHtml;
				}}
			];
			
			roleGrid = new jqGridUtil();
			roleGrid.id = '#roleGrid';
			roleGrid.pager = '#rolePager';
			roleGrid.rowNum = 3;
			roleGrid.height = 122;
			roleGrid.url = /*[[@{/jdUserMgnt/getUserRolePageList}]]*/;
			roleGrid.caption = '人員角色職位查詢';
			roleGrid.colNames = ['角色', '角色描述', '操作'];
			roleGrid.colModel = [
				{name: 'ROLE_NAME', index: 'ROLE_NAME'},
				{name: 'DESCRIPTION', index: 'DESCRIPTION'},
				{formatter: function(cellvalue, options, row) {
					var actionHtml = '';
					actionHtml += '<a href="javascript:deleteUserRole(\'' + row.ROLE_ID + '\');" class="green bigger-140 show-details-btn" title="Edit">';
					actionHtml += '    <i class="my-icon fa fa-trash bigger-120"></i> <span class="sr-only">Details</span> ';
					actionHtml += '</a>';
					
					return actionHtml;
				}}
			];

			jdUserIcGrid = new jqGridUtil();
			jdUserIcGrid.id = '#jdUserIcGrid';
			jdUserIcGrid.pager = '#jdUserIcPager';
			jdUserIcGrid.rowNum = 10;
			jdUserIcGrid.height = 122;
			jdUserIcGrid.url = /*[[@{/jdUserMgnt/getJdUserIcQuery}]]*/;
			jdUserIcGrid.caption = 'IC人員負責分行'
			jdUserIcGrid.colNames = ['通路別','分支機構'];
			jdUserIcGrid.colModel = [
				{align: 'center', formatter: function(cellvalue, options, row) {
						var depName = '';
						depName = row.DEP_ID+ (row.depName ? '('+ row.depName +')' : '')
						return depName;
					}},
				{align: 'center', formatter: function(cellvalue, options, row) {
						var branchName = '';
						if (row.BRANCH_ID == null){
							branchName;
						}else {
							branchName = row.BRANCH_ID +  (row.branchName ? '('+ row.branchName +')' : '')
						}
						return branchName;
					}}
			];

			jdUserGrid = new jqGridUtil();
			jdUserGrid.id = '#jdUserGrid';
			jdUserGrid.pager = '#jdUserPager';
			jdUserGrid.rowNum = 3;
			jdUserGrid.height = 122;
			jdUserGrid.weight = 100;
			jdUserGrid.url = /*[[@{/jdUserMgnt/getJdUserQuery}]]*/;
			jdUserGrid.caption = '人員詳細資料'
			jdUserGrid.colNames = ['系統帳號', '帳號狀態','帳號生效日','帳號失效日','姓名','業務員編號','登錄字號','身份證字號','EMAIL','行動電話'];
			jdUserGrid.colModel = [
				{name: 'USER_ID', index: 'USER_ID'},
				// {name: 'STATUS', index: 'STATUS'},
				{formatter: function(cellvalue, options, row) {
						var accountType = '';
						if (row.STATUS == 'Unenabled'){
							accountType = '未啟用'
						}
						if (row.STATUS == 'Enabled'){
							accountType = '已啟用'
						}
						if (row.STATUS == 'Disabled'){
							accountType = '已停用'
						}
						return accountType;
					}},
				{name: 'EFFECTIVE_DATE', index: 'EFFECTIVE_DATE'},
				{name: 'EXPIRATION_DATE', index: 'EXPIRATION_DATE'},
				{name: 'USER_NAME', index: 'USER_NAME'},
				{name: 'IC_ID', index: 'IC_ID'},
				{name: 'LOGIN_SIZE', index: 'LOGIN_SIZE'},
				{name: 'ROC_ID', index: 'ROC_ID'},
				{name: 'EMAIL', index: 'EMAIL'},
				{name: 'MOBILE', index: 'MOBILE'}
			];

			jdMobileInsuranceQuery = new jqGridUtil();
			jdMobileInsuranceQuery.id = '#jdMobileInsuranceQuery';
			jdMobileInsuranceQuery.pager = '#jdMobileInsuranceQueryPager';
			jdMobileInsuranceQuery.rowNum = 3;
			jdMobileInsuranceQuery.height = 122;
			jdMobileInsuranceQuery.weight = 100;
			jdMobileInsuranceQuery.url = /*[[@{/jdUserMgnt/getJdUserInsuranceQuery}]]*/;
			jdMobileInsuranceQuery.caption = '行投詳細資料'
			jdMobileInsuranceQuery.colNames = ['行動投保編號', '保單號碼','商品名稱','被保險人資料','要保人資料','案件狀態'];
			jdMobileInsuranceQuery.colModel = [
				{name: 'ActionNo', index: 'ActionNo'},
				{name: 'PolicyNo', index: 'PolicyNo'},
				{name: 'ProductName', index: 'ProductName'},
				{name: 'InsuredIdentity', index: 'InsuredIdentity'},
				{name: 'ApplicantIdentity', index: 'ApplicantIdentity'},
				{name: 'Status', index: 'Status'}
			];
		}


		function openJdUser(userId) {
			jdUserGrid.setPostData('userId', userId);
			jdUserGrid.create();
			$('#editJdUser').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>人員詳細資料</h4></div>",
				title_html: true,
				width: 1200,
				height: 530
			});
		}

		function openJdIc(userId) {
			jdUserIcGrid.setPostData('userId', userId);
			jdUserIcGrid.create();
			$('#editJdUserIc').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>IC人員負責分行</h4></div>",
				title_html: true,
				width: 800,
				height: 530
			});
		}

		function openJdMobile(userId) {
			jdMobileInsuranceQuery.setPostData('userId', userId);
			jdMobileInsuranceQuery.create();
			$('#editJdMobile').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>行投個人案件列表</h4></div>",
				title_html: true,
				width: 800,
				height: 530
			});
		}

		// 部門設定
		function openDeptDialog(userId, showUserAcct, showUserName) {
			selectUserId = userId;
			$('#editDeptForm')[0].reset();
			
			$('#editDeptDialog #showUserAcct').html(showUserAcct);
			$('#editDeptDialog #showUserName').html(showUserName);
			
			// 查詢人員部門資料
			deptGrid.setPostData('userId', userId);
			deptGrid.create();
			
			$('#editDeptDialog').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>人員部門設定</h4></div>",
				title_html: true,
				width: 800,
				height: 530
			});
		}
		
		// 角色設定
		function openRoleDialog(userId, depId) {
			roleList(depId)
			selectUserId = userId;
			$('#editRoleForm')[0].reset();
			
			// 查詢人員角色資料
			roleGrid.setPostData('userId', userId);
			roleGrid.create();
			
			$('#editRoleDialog').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>人員角色設定</h4></div>",
				title_html: true,
				width: 800,
				height: 530
			});
		}
		
		// 刪除人員部門
		function deleteUserDepartment(depId,titleId,branchId) {
			confirmMsg('是否確認刪除', function(r) {
				if (r) {
					var formData = {
						userId : selectUserId,
						depId : depId,
						titleId : titleId,
						branchId: branchId=='undefined'?null:branchId
					};
					eserviceForm.post(/*[[@{/jdUserMgnt/deleteUserDepartment}]]*/, formData, function(response) {
						alertMsg(response.resultMsg);
						deptGrid.reload();
						qryGrid.reload();
					});
				} else {
					return false;
				}
			});
		}

		// 刪除人員角色
		function deleteUserRole(roleId) {
			confirmMsg('是否確認刪除', function(r) {
				if (r) {
					var formData = {
						userId : selectUserId,
						roleId : roleId
					};
					eserviceForm.post(/*[[@{/jdUserMgnt/deleteUserRole}]]*/, formData, function(response) {
						alertMsg(response.resultMsg);
						roleGrid.reload();
						qryGrid.reload();
					});
				} else {
					return false;
				}
			});
		}
		
		function breakLine(data) {
			var result = data;
			if (typeof data === 'string') {
				result = data.replace(/\,/g, '<div></div>');
			}
			return result;
		}
		
		function openDeputyDialog(userId, showUserAcct, showUserName){
			selectUserId = userId;
			$('#editDeputyForm')[0].reset();
			
			$('#editDeputyDialog #showUserAcct').html(showUserAcct);
            $('#editDeputyDialog #showUserName').html(showUserName);
            
            deputyGrid.setPostData('userId', userId);
            deputyGrid.create();
            
            // 建立代理人查詢結果
			$('#editDeputyDialog').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>代理人設定</h4></div>",
				title_html: true,
				width: 800,
				height: 530
			});
            // 取得下拉選單 start 
            // 可使用部門
            // eserviceAdmOption.dept('#deputyDeptSelect', url);
            // 取得可以代理人員
            var formData = {
            	userId: selectUserId	
            };
            $('#deputyUserSelect').html('');
            eserviceForm.post(/*[[@{/jdUserMgnt/getUserCanDeputy}]]*/, formData, function(response){
            	if(response.result == 'SUCCESS'){
	                var optHtml = '';
	                if(response.resultData.length != 0){
		                $.each(response.resultData, function(i, deputyUser) {
		                    optHtml += '<option value="' + deputyUser.ID + '">' + deputyUser.USERNAME + '</option>';
		                });
	                } else{
	                	alertMsg('沒有代理人可以服務');
	                }
            	} else{
            		alertMsg(response.errorMsg);
            	}
                $('#deputyUserSelect').html(optHtml);
            });
            // 取得下拉選單 end  
		}
		
		function addUserDeputy(userId){
			confirmMsg('確定新增為代理人？', function(r){
				if(r){
					// 使用日期元件取得起始日/結束日
					var formData = {
							userId: userId, 
							deputyId: $('#deputyUserSelect').val(), 
							startDate: $('#dateRange').data('daterangepicker').startDate.format('YYYY-MM-DD'),
							endDate: $('#dateRange').data('daterangepicker').endDate.format('YYYY-MM-DD')
					}
					eserviceForm.post(/*[[@{/jdUserMgnt/addUserDeputy}]]*/, formData, function(response){
						alertMsg(response.resultMsg);
						deputyGrid.reload();
					});
				} else{
					return false;
				}
			});
		}
		
		function deleteUserDeputy(removeId){
			confirmMsg('確定刪除代理人？', function(r){
				if(r){
					var formData = {
						    id : removeId
					};
					eserviceForm.post(/*[[@{/jdUserMgnt/deleteUserDeputy}]]*/, formData, function(response){
						alertMsg(response.resultMsg);
						deputyGrid.reload();
					});
				} else{
					return false;
				}
			});
		}

		/*]]>*/
		</script>
	</body>
</html>
