<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body class="no-skin">
<th:block th:replace="fragments/navbar"/>
<div class="main-container my-save-state" id="main-container">
    <div th:replace="fragments/sidebar :: sidebar (funId='userDetail')"></div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs my-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                        報表查詢
                        <i class="my-icon fa fa-angle-double-right"></i>
                        經代專區使用者匯出報表
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="">
                    <ul class="step">
                        <li class="step1  col-xs-4">
                            1<span class="hid1">. 選擇報表條件</span>
                        </li>
                        <li class="step2 active col-xs-4">
                            2<span class="hid1">. 選擇匯出資料欄位</span>
                        </li>
                        <li class="step3 col-xs-4">
                            3<span class="hid1">. 下載開啓報表</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form">
                            <div id="selectTitle" class="list-select ui-draggable">
                                <div class="list-body">
                                    <div class="droppable" id="unSelect-column">
                                        <h4 style="line-height: 30px;">可選擇欄位</h4>
                                        <ul class="item-box left-box  ui-sortable ui-droppable">
                                        </ul>
                                    </div>
                                    <div id="select-column" class="droppable">
                                        <h4>已選擇欄位</h4>
                                        <ul id="left-box" class="item-box right-box ui-sortable ui-droppable">
                                            <!-- 右边框存放已选项 -->

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align: center;margin-top: 20px;">
                                <button class="btn bgGrey" id="lastStep" type="button"
                                        style="border: 0;margin-right: 20px;">
                                    <a th:href="@{/userDetail}" style="border: 0;">上一步</a>
                                </button>
                                <button class="btn bgOrange" id="go" type="reset" style="border: 0;">
                                    下一步
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<th:block th:replace="fragments/script"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    var formData = /*[[${vo}]]*/;
    var isGoBack = /*[[${isGoBack}]]*/;
    $(function () {
        if (isGoBack) {
            formData.unSelectColumn.forEach((value, index) => {
                $("#unSelect-column ul").append(' <li class="item ui-sortable-handle" data-id="' + value + '">' + formData.unSelectColumnName[index] + '</li>');
            })
            formData.selectColumn.forEach((value, index) => {
                $("#select-column ul").append(' <li class="item ui-sortable-handle" data-id="' + value + '">' + formData.selectColumnName[index] + '</li>');
            })
        } else {
            var cols = [
                {'dataID': 'userId', 'text': '系統帳號'},
                {'dataID': 'status', 'text': '帳號狀態'},
                {'dataID': 'roleName', 'text': '系統平台角色'},
                {'dataID': 'effectiveDate', 'text': '帳號生效日'},
                {'dataID': 'expirationDate', 'text': '帳號失效日'},
                {'dataID': 'depName', 'text': '所屬通路'},
                {'dataID': 'branchName', 'text': '分支機構'},
                {'dataID': 'userName', 'text': '姓名'},
                {'dataID': 'icID', 'text': '業務員編號'},
                {'dataID': 'loginSize', 'text': '登錄字號'},
                {'dataID': 'rocID', 'text': '身份證字號'},
                {'dataID': 'email', 'text': 'EMAIL'},
                {'dataID': 'mobile', 'text': '行動電話'},
                {'dataID': 'createDate', 'text': '帳號建立日'},
                {'dataID': 'loginTime', 'text': '帳號最後登入日'}
            ]
            cols.forEach((value, index) => {
                console.log(value);
                $("#unSelect-column ul").append(' <li class="item ui-sortable-handle" data-id="' + value['dataID'] + '">' + value['text'] + '</li>');
            })
        }
        // 是否开启选项可拖动，选项可双击
        $('#selectTitle').initList({
            openDrag: true,
            openDblClick: true
        });

    });

    $('#go').click(function () {
        formData.column = [];
        formData.columnName = [];
        formData.selectColumn = [];
        formData.unSelectColumn = [];
        formData.selectColumnName = [];
        formData.unSelectColumnName = [];

        $('#select-column').find('li').each(function (i, val) {
            formData.column.push(val.getAttribute('data-id'));
            formData.columnName.push(val.innerHTML);
            formData.selectColumn.push(val.getAttribute('data-id'));
            formData.selectColumnName.push(val.innerHTML);
        });

        $('#unSelect-column').find('li').each(function (i, val) {
            formData.unSelectColumn.push(val.getAttribute('data-id'));
            formData.unSelectColumnName.push(val.innerHTML);
        });


        if (formData.column.length <= 0) {
            alertMsg('請選擇要導出的欄位.');
            return;
        }
        console.log(JSON.stringify(formData));
        postWithFormData(/*[[@{/userDetail/csv}]]*/, formData);
    });

    /*]]>*/
</script>
</body>
</html>
