<tr class="detail-row even open" role="row">
	<td colspan="7">
		<div class="table-detail">
			<div class="row" style="background-color: #fff; border-bottom: none">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<th:block th:if="${session.ROLE_CODE_00}">
							<th:block th:if="${detailData['FROM_COMPANY_ID'] == 'L01'}">
								<div class="profile-info-row">
									<div class="profile-info-name"> 是否開始處理 </div>
									<div class="profile-info-value">
										<span class='tg-list-item'>
											<th:block th:if="${detailData['STATUS_TYPE'] == '-1'}">
												<input class='checkboxY checkboxY-light' id='cb1' type='checkbox' th:onclick="'javascript:clickItems(\'cb1\',\'' + ${detailData['TRANS_NUM']} + '\');'">
											</th:block>
											<th:block th:if="${detailData['STATUS_TYPE'] != '-1'}">
												<input class='checkboxY checkboxY-light' id='cb1' type='checkbox' checked disabled>
											</th:block>
											<label class='checkboxY-btn' data-tg-off='ON' data-tg-on='OFF' for='cb1'></label>
										</span>
									</div>
								</div>
							</th:block>

							<div class="profile-info-row">
								<div class="profile-info-name"> 是否已紙本回收 </div>
								<th:block th:if="${detailData['FROM_COMPANY_ID'] != 'L01'}">
									<span class='tg-list-item'>
										<th:block th:if="${detailData['FILE_RECEIVED'] != '1'}">
											<label>  未回收</label>
										</th:block>
										<th:block th:if="${detailData['FILE_RECEIVED'] == '1'}">
											<label>  已回收</label>
										</th:block>
									</span>
								</th:block>
								<th:block th:if="${detailData['FROM_COMPANY_ID'] == 'L01'}">
									<div class="profile-info-value" style="position: relative;">
										<span class='tg-list-item'>
											<th:block th:if="${detailData['STATUS_TYPE'] == '0'}">
												<th:block th:if="${detailData['FILE_RECEIVED'] != 'C' && detailData['FILE_RECEIVED'] != '1'}">
													<input class='checkboxY checkboxY-light' id='cb2' type='checkbox' th:onclick="'javascript:clickItems(\'cb2\',\'' + ${detailData['TRANS_NUM']} + '\');'">
												</th:block>
												<th:block th:if="${detailData['FILE_RECEIVED'] == 'C' || detailData['FILE_RECEIVED'] == '1'}">
													<input class='checkboxY checkboxY-light' id='cb2' type='checkbox' checked disabled>
												</th:block>
											</th:block>
											<th:block th:if="${detailData['STATUS_TYPE'] != '0'}">
												<th:block th:if="${detailData['FILE_RECEIVED'] != 'C' && detailData['FILE_RECEIVED'] != '1'}">
													<input class='checkboxY checkboxY-light checkboxY-disabled' id='cb2' type='checkbox' disabled>
												</th:block>
												<th:block th:if="${detailData['FILE_RECEIVED'] == 'C' || detailData['FILE_RECEIVED'] == '1'}">
													<input class='checkboxY checkboxY-light' id='cb2' type='checkbox' checked disabled>
												</th:block>
											</th:block>
											<label class='checkboxY-btn' data-tg-off='ON' data-tg-on='OFF' for='cb2'></label>
										</span>
										<!-- 覆核 -->
										<th:block th:if="${detailData['FILE_RECEIVED'] == 'C'}">
											<label class="checkboxY-3"> 待覆核</label>
											<th:block th:if="${session['ROLE_CODE_02']}">
												<div class="checkbox" style="margin-right: 20px;line-height: 23px; cursor: pointer;position: absolute;top: 13px;right: 130px;">
													<div class="check-box-1 pop01" style="float: left;margin-right: 5px;"  id="pop01"><i class=""><input id="checkBox1" type="checkbox" th:onclick="'javascript:approvedItems(\'cb2\',\'' + ${detailData['TRANS_NUM']} + '\');'" name="checkBox1"></i></div>覆核人員審核
												</div>
											</th:block>
										</th:block>
										<th:block th:if="${detailData['FILE_RECEIVED'] == '1'}">
											<div class="checkbox" style="margin-right: 20px;line-height: 23px; cursor: pointer;position: absolute;top: 13px;right: 130px;">
												<div class="check-box-1 pop02" style="float: left;margin-right: 5px;"  id="pop02"><i class="">
													<input id="checkBox1" type="checkbox" checked disabled name="checkBox1">
												</i></div>覆核人員審核
											</div>
										</th:block>
									</div>
								</th:block>
							</div>

							<th:block th:if="${detailData['FROM_COMPANY_ID'] == 'L01'}">
								<div class="profile-info-row">
									<div class="profile-info-name"> 是否已開啓傳送公會聯盟鏈 </div>

									<div class="profile-info-value" style="position: relative;">
										<span class='tg-list-item'>
											<th:block th:if="${detailData['STATUS_TYPE'] == '0'}">
												<th:block th:if="${detailData['SEND_ALLIANCE'] != 'C' && detailData['SEND_ALLIANCE'] != 'Y'}">
													<input class='checkboxY checkboxY-light' id='cb3' type='checkbox' th:onclick="'javascript:clickItems(\'cb3\',\'' + ${detailData['TRANS_NUM']} + '\');'">
												</th:block>
												<th:block th:if="${detailData['SEND_ALLIANCE'] == 'C' || detailData['SEND_ALLIANCE'] == 'Y'}">
													<input class='checkboxY checkboxY-light' id='cb3' type='checkbox' checked disabled>
												</th:block>
											</th:block>
											<th:block th:if="${detailData['STATUS_TYPE'] != '0'}">
												<th:block th:if="${detailData['SEND_ALLIANCE'] != 'C' && detailData['SEND_ALLIANCE'] != 'Y'}">
													<input class='checkboxY checkboxY-light' id='cb3' type='checkbox' disabled>
												</th:block>
												<th:block th:if="${detailData['SEND_ALLIANCE'] == 'C' || detailData['SEND_ALLIANCE'] == 'Y'}">
													<input class='checkboxY checkboxY-light' id='cb3' type='checkbox' checked disabled>
												</th:block>
											</th:block>
											<label class='checkboxY-btn' data-tg-off='ON' data-tg-on='OFF' for='cb3'></label>
										</span>
										<!-- 覆核 -->
										<th:block th:if="${detailData['SEND_ALLIANCE'] == 'C'}">
											<label class="checkboxY-3"> 待覆核</label>
											<th:block th:if="${session['ROLE_CODE_02']}">
												<div class="checkbox" style="margin-right: 20px;line-height: 23px; cursor: pointer;position: absolute;top: 13px;right: 130px;">
													<div class="check-box-1 pop02" style="float: left;margin-right: 5px;" id="pop02"><i class="">
														<input id="checkBox2" type="checkbox" th:onclick="'javascript:approvedItems(\'cb3\',\'' + ${detailData['TRANS_NUM']} + '\');'" name="checkBox2">
													</i></div>覆核人員審核
												</div>
											</th:block>
										</th:block>
										<th:block th:if="${detailData['SEND_ALLIANCE'] == 'Y'}">
											<div class="checkbox" style="margin-right: 20px;line-height: 23px; cursor: pointer;position: absolute;top: 13px;right: 130px;">
												<div class="check-box-1 pop02" style="float: left;margin-right: 5px;" id="pop02"><i class="">
													<input id="checkBox2" type="checkbox" checked disabled name="checkBox2">
												</i></div>覆核人員審核
											</div>
										</th:block>
									</div>
								</div>
							</th:block>

							<th:block th:if="${detailData['FROM_COMPANY_ID'] == 'L01'}">
								<div class="profile-info-row">
									<div class="profile-info-name"> 執行審核 </div>
									<div class="profile-info-value">
										<th:block th:if="${detailData['STATUS_TYPE'] != '0'}">
											<button type="button" class="bgGrey" disabled>通知補件</button>
										</th:block>
										<th:block th:if="${detailData['STATUS_TYPE'] == '0'}">
											<button type="button" class="bgOrange" th:onclick="'javascript:onSupplement(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">通知補件</button>
										</th:block>

										<th:block th:if="${detailData['STATUS_TYPE'] != '0' && detailData['STATUS_TYPE'] != '4' && detailData['STATUS_TYPE'] != '5' && detailData['STATUS_TYPE'] != '7C'}">
											<button type="button" class="bgGrey" disabled>異常件註記</button>
										</th:block>
										<th:block th:if="${detailData['STATUS_TYPE'] == '0' || detailData['STATUS_TYPE'] == '4' || detailData['STATUS_TYPE'] == '5' || detailData['STATUS_TYPE'] == '7C'}">
											<button type="button" class="bgOrange" th:onclick="'javascript:onReturn(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">異常件註記</button>
										</th:block>

										<th:block th:if="${detailData['STATUS_TYPE'] == '-1' || detailData['STATUS_TYPE'] == '2' || detailData['STATUS_TYPE'] == '3' ||detailData['STATUS_TYPE'] == '7'}">
											<button type="button" class="bgGrey" disabled>已完成</button>
										</th:block>
										<th:block th:if="${detailData['STATUS_TYPE'] != '-1' && detailData['STATUS_TYPE'] != '2' && detailData['STATUS_TYPE'] != '3' && detailData['STATUS_TYPE'] != '7'}">
											<button type="button" class="bgOrange" th:onclick="'javascript:onAudit(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">已完成</button>
										</th:block>
									</div>
								</div>
							</th:block>
						</th:block>
						<div class="profile-info-row">
							<div class="profile-info-name"> 查詢歷程資料 </div>
							<div class="profile-info-value">
								<button type="button" class="bgOrange" th:onclick="'javascript:onStatus(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\',\'\');'">狀態歷程</button>
								<th:block th:if="${detailData['FROM_COMPANY_ID'] == 'L01'}">
									<button type="button" class="bgOrange" th:onclick="'javascript:viewSupplement(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\',\'\');'" style="position: relative;">
										補件單歷程<i class="foo-warning"></i>
									</button>
								</th:block>
								<button type="button" class="bgOrange" th:onclick="'javascript:onAlliance(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\',\'' + ${detailData['CASE_ID']} + '\',\'' + ${detailData['FROM_COMPANY_ID']} + '\',\'\');'">聯盟鏈歷程</button>
								<button type="button" class="bgOrange" th:onclick="'javascript:onBxczSign(\'' + ${detailData['APPLYITEM']} + '\',\'' + ${detailData['TRANS_NUM']} + '\',\'' + ${detailData['CASE_ID']} + '\',\'' + ${detailData['FROM_COMPANY_ID']} + '\',\'INSURANCE_CLAIM\');'">保險存摺歷程</button>
								<!-- <button type="button" class="bgOrange" onclick="onPrint()">詳細資料列印</button> -->
								<button th:if="${signRecord} != null and ${signRecord.signDownload} == 'Y'" style="width: 100px;" type="button" class="bgOrange" th:onclick="'javascript:downloadSignPdf(\'' + ${signRecord.signFileId} + '\');'">數位簽署文件</button>
								<button style="width: 100px;" type="button" class="bgOrange" th:onclick="'javascript:onDetail(\'' + ${detailData['TRANS_NUM']} + '\', \'claim\');'">詳細資料列印</button>
							</div>
						</div>
						<div class="modal fade in" id="modal-container-imgConfirm" role="dialog" aria-labelledby="myModalLabel" 
							aria-hidden="true" style="z-index: 1200;">
							<div class="modal-dialog">
								<div class="modal-content lock-up">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									</div>
									<div class="modal-body clearfix center1" id="imgOnPrint" style="max-height: 500px;overflow: auto;height: 500px;">
									
									</div>
									<div class="modal-footer grey2" id>
										<a href="javascript:void(0);" id="onMedicalPrint">
											<!-- <button type="button" class="bgOrange" onclick="window.open($('#imgsrc').attr('src'))" id="go">列印</button> -->
											<button type="button" class="bgOrange" onclick="onMedicalPrint();" id="go">列印</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div th:id="${detailData['TRANS_NUM']}" class="col-xs-12 col-sm-11">				
					<div class="panel panel-default profile-user-info">

						<div class="panel-heading">※ 申請資料</div>
						<div class="panel-body clear1" id="poliyClaimsDetail">
 
						<div class="mycigna3">
							<div class="col-md-12 detailPolicy">
								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-xs-3">申請項目：</label>
										<div class="col-xs-9" id="label_apply_item">
											<th:block th:each="from : ${#strings.arraySplit(detailData['APPLYITEM'], ',')}">
												<th:block th:each="vo : ${session.APPLICATION_ITEMS}">
													<th:block th:if="${from eq vo.value.parameterValue}"> 
														<th:block th:inline="text" >[[${ vo.value.parameterName}]]</th:block>
													</th:block>
												</th:block>
											</th:block>
										</div>
									</div>
									<!-- <div class="form-group">
										<label class="col-xs-3">要保人姓名：</label>
										<div class="col-xs-9">
											<b><span><th:block th:text="${detailData['CUSTOMERNAME']}"/></span></b>
										</div>
									</div> -->
									<div class="form-group">
										<label class="col-xs-3">保單號碼：</label>
										<div class="col-xs-9">
											<span><th:block th:text="${detailData['POLICYNO']}"/></span>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="colorGreen mobile-toggle" data-toggle="true">
										<i class="fa hid2 foo-angle-up mobile"></i>
										<i class="fa foo-angle-up hid1"></i>  ^ 事故者質料
									</div>
									<div class="mobile-toggle-panel">
										<div class="form-group">
											<label class="col-xs-3">事故人：</label>
											<div class="col-xs-9">會員本人</div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">被保險人姓名：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['NAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">身份證字號：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ID_NO']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">出生年月日：</label>
											<div class="col-xs-9">
												<span>
													<th:block th:text="${detailData['BIRDATE']} "/>
												</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">聯絡電話：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['TEL']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">行動電話：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['PHONE']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">E-MAIL：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['MAIL']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">聯絡地址：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ADDRESS']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-sm-3">與主被保險人(員工關係)：</label>
											<div class="col-sm-9"><span><th:block th:text="${detailData['RELATION_NAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-sm-3">被保險人是否投保別家保險公司之保險：</label>
											<div class="col-sm-9"><span>
												<!-- <th:block th:text="${detailData['OTHERCOMPANYINSURED']}"/> -->
												<th:block th:if="${detailData['OTHERCOMPANYINSURED'] eq 'Y'}">有</th:block>
											    <th:block th:if="${detailData['OTHERCOMPANYINSURED'] eq 'N'}">沒有</th:block>
											</span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">保險公司名稱：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['OTHERINSUCOMMPANY']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">保險種類：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['OTHERINSUTYPE']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">保險金額：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['OTHERINSUAMOUNT']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">同時申請理賠：</label>
											<div class="col-xs-9"><span>
												<!-- <th:block th:text="${detailData['OTHERINSUCLAIM']}"/> -->
												<th:block th:if="${detailData['OTHERINSUCLAIM'] eq 'Y'}">是</th:block>
												<th:block th:if="${detailData['OTHERINSUCLAIM'] eq 'N'}">否</th:block>
											</span></div>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="colorGreen mobile-toggle" data-toggle="true">
										<i class="fa hid2 foo-angle-up mobile"></i>
										<i class="fa foo-angle-up hid1"></i> ^  保險事故
									</div>
									<div class="mobile-toggle-panel">
										<div class="form-group">
											<label class="col-xs-3">事故種類：</label>
											<!-- <div class="col-xs-9">意外</div> -->
											<th:block th:if="${session['PAGE_WORDING'] == null}">
												<div class="col-sm-8">
													<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq '1'}">疾病</th:block>
													<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq '2'}">意外</th:block>
												</div>
											</th:block>
											<th:block th:if="${session['PAGE_WORDING'] != null}">
												<div class="col-sm-8">
													<th:block th:if="${session.PAGE_WORDING['INS_ACCIDENT_01'] == null}">
														<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq '1'}">疾病</th:block>
													</th:block>
													<th:block th:if="${session.PAGE_WORDING['INS_ACCIDENT_01'] != null}">
														<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq session.PAGE_WORDING['INS_ACCIDENT_01'].parameterValue}">
														<label th:inline="text">[[${session.PAGE_WORDING['INS_ACCIDENT_01'].parameterName}]] </label></th:block>
													</th:block>
													
													<th:block th:if="${session.PAGE_WORDING['INS_ACCIDENT_02'] == null}">
														<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq '2'}">意外</th:block>
													</th:block>
													<th:block th:if="${session.PAGE_WORDING['INS_ACCIDENT_02'] != null}">
														<th:block th:if="${detailData['ACCIDENT_CAUSE'] eq session.PAGE_WORDING['INS_ACCIDENT_02'].parameterValue}">
														<label th:inline="text">[[${session.PAGE_WORDING['INS_ACCIDENT_02'].parameterName}]] </label></th:block>
													</th:block>
												</div>
											</th:block>
										</div>
										<div class="form-group">
											<label class="col-xs-3">事故當時職業：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['JOB']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">發生時間：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ACCIDENT_DATE']+' ' +detailData['ACCIDENT_TIME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">事故地點：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ACCIDENT_LOCATION']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">事故原因及送醫經過詳情:<br/> (請述明就診醫院名稱)</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ACCIDENT_DESCR']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">是否報警：</label>
											<div class="col-xs-9"><span>
												<th:block th:if="${detailData['CALLPOLICE'] eq 'Y'}">是</th:block>
                                    			<th:block th:if="${detailData['CALLPOLICE'] eq 'N'}">否</th:block>
											</span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">事故處理單位：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['POLICE_STATION']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">承辦警員：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['POLICE_NAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">警方電話：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['POLICE_PHONE']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">報案日期：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['POLICE_DATE'] +' ' +detailData['POLICE_TIME']}"/></span></div>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="colorGreen mobile-toggle" data-toggle="true">
										<i class="fa hid2 foo-angle-up mobile"></i>
										<i class="fa foo-angle-up hid1"></i> ^  壽險公會理賠聯盟鏈授權專區
									</div>
									<div class="mobile-toggle-panel">
										<div class="form-group">
											<label class="col-xs-3">理賠聯盟説明：</label>
											<div class="col-xs-9">[[${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_POLICYCLAIM_015'] != null} ? ${session.PAGE_WORDING['WORDING_POLICYCLAIM_015'].parameterValue} : '即日起，使用本公司線上理賠申請服務時，可一併授權本公司將您的理賠申請資料，透過「中華民國人壽保險同業公會」
												建制「保險區塊鏈聯盟科技通用共享平臺」傳送予您有投保之保險公司（該保險公司需有參與聯盟鏈），免除以往需向不同
												公司分別提出理賠申請之不便。']]</div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">是否傳送其他保險公司：</label>
											<div class="col-xs-9"><span>
												<th:block th:if="${detailData['SEND_ALLIANCE'] eq 'Y'}">同意</th:block>
                                				<th:block th:if="${detailData['SEND_ALLIANCE'] eq 'N'}">不同意</th:block>
											</span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">授權傳送公司：</label>
											<th:block th:if="${hospitalInsuranceCompanyList != null}">
												<div class="col-sm-9">
													<th:block th:each="from : ${#strings.arraySplit(detailData['TO_COMPANY_ID'], ',')}">
														<th:block th:each="vo : ${hospitalInsuranceCompanyList}">
															<th:block th:if="${from eq vo.insuranceId}">
																<th:block th:inline="text">[[${vo.insuranceName}]]</th:block>
														</th:block>
															</th:block>
														</th:block>
												</div>
											</th:block>
										</div>
										<div class="form-group">
											<label class="col-xs-3">是否進行數位身份驗證及數位簽署：</label>
											<div class="col-xs-9"><span>
												 <th:block th:if="${detailData['SIGN_AGREE'] == 'Y'}">同意</th:block>
                                				 <th:block th:if="${detailData['SIGN_AGREE'] == 'N'}">不同意</th:block>
											</span></div>
										</div>
										<th:block th:if="${signRecord} != null">
											<div class="form-group">
												<label class="col-xs-3">身份驗證狀態：</label>
												<div class="col-xs-9" th:text="${signRecord.idVerifyStatus}"> </div>
											</div>
											<div class="form-group">
												<label class="col-xs-3">身份驗證時間：</label>
												<div class="col-xs-9" th:text="${signRecord.idVerifyTime}"> </div>
											</div>
											<div class="form-group">
												<label class="col-xs-3">數位簽署狀態：</label>
												<div class="col-xs-9" th:text="${signRecord.signStatus}"> </div>
											</div>
											<div class="form-group">
												<label class="col-xs-3">數位簽署時間：</label>
												<div class="col-xs-9" th:text="${signRecord.signTime}"> </div>
											</div>
										</th:block>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="colorGreen mobile-toggle" data-toggle="true">
										<i class="fa hid2 foo-angle-up mobile"></i>
										<i class="fa foo-angle-up hid1"></i> ^  給付方式
									</div>
									<div class="mobile-toggle-panel">
										<div class="form-group">
											<label class="col-xs-3">指定給付方式：</label>
											<!-- <div class="col-xs-9"><span>
												<th:block th:if="${detailData['PAYMENT_METHOD'] eq '1'}">電匯</th:block>
                                				<th:block th:if="${detailData['PAYMENT_METHOD'] eq '2'}">郵寄支票</th:block>
											</span></div> -->
											<th:block th:if="${session['PAGE_WORDING'] == null}">
												<div class="col-xs-9"><span>
													<th:block th:if="${detailData['PAYMENT_METHOD'] eq '1'}">電匯</th:block>
													<th:block th:if="${detailData['PAYMENT_METHOD'] eq '2'}">郵寄支票</th:block>
												</span></div>
											</th:block>
											<th:block th:if="${session['PAGE_WORDING'] != null}">
												<div class="col-xs-9"><span>
													<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_01'] == null}">
														<th:block th:if="${detailData['PAYMENT_METHOD'] eq '1'}">電匯</th:block>
													</th:block>
													<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_01'] != null}">
														<th:block th:if="${detailData['PAYMENT_METHOD'] eq session.PAGE_WORDING['TRANS_MDOE_01'].parameterValue}">
														<label th:inline="text">[[${session.PAGE_WORDING['TRANS_MDOE_01'].parameterName}]] </label></th:block>
													</th:block>
													
													<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_02'] == null}">
														<th:block th:if="${detailData['PAYMENT_METHOD'] eq '2'}">郵寄支票</th:block>
													</th:block>
													<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_02'] != null}">
														<th:block th:if="${detailData['PAYMENT_METHOD'] eq session.PAGE_WORDING['TRANS_MDOE_02'].parameterValue}">
														<label th:inline="text">[[${session.PAGE_WORDING['TRANS_MDOE_02'].parameterName}]] </label></th:block>
													</th:block>
												</span></div>
											</th:block>
										</div>
										<div class="form-group">
											<label class="col-xs-3">匯款帳戶：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['ACCOUNTNAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">銀行名稱：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['BANK_NAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">分行名稱：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['BRANCH_NAME']}"/></span></div>
										</div>
										<div class="form-group">
											<label class="col-xs-3">帳號：</label>
											<div class="col-xs-9"><span><th:block th:text="${detailData['BANK_ACCOUNT']}"/></span></div>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="colorGreen mobile-toggle" data-toggle="true">
										<i class="fa hid2 foo-angle-up mobile"></i>
										<i class="fa foo-angle-up hid1"></i> ^  上傳申請應備文件
									</div>
									<div class="mobile-toggle-panel">
										<th:block th:if="${not #lists.isEmpty(fileData)}">
											<th:block th:each="fileDataEntry:${fileData.entrySet()}">
												<div class="form-group">
													<label class="col-sm-3">
														<th:block th:if="${fileDataEntry.key == '#'}">
															補件：
														</th:block>
														<th:block Rth:if="${session.INSURANCE_CLAIM_UPLOADFILE != null}">
															<th:block th:each="file : ${session.INSURANCE_CLAIM_UPLOADFILE}">
																<th:block th:if="${fileDataEntry.key != '#' && fileDataEntry.key eq file.value.parameterCode}">
																	<th:block th:inline="text">[[${file.value.parameterName}]]</th:block> ：
																</th:block>
															</th:block>
														</th:block>
													</label>
													<div class="col-sm-9">
														<div class="col-sm-12 upload-drop-zone boardDotted">
															<th:block th:each="vo1 : ${fileDataEntry.value}">
																<th:block th:if="${#strings.containsIgnoreCase(vo1.FILE_NAME,'.pdf')}">
																	<img th:onclick="'javascript:imgConfirm(this,\'pdf\')'" th:src="'data:image/png;base64, '+${vo1.FileBase64}"  th:FILE_BASE64="${vo1.FILE_BASE64}" th:FILE_ID="${vo1.FD_ID}"  width="50"/>
																</th:block>
																<th:block th:if="${#strings.containsIgnoreCase(vo1.FILE_NAME,'.jpg')}">
																	<img th:onclick="'javascript:imgConfirm(this,\'png\')'"  th:src="'data:image/png;base64, '+${vo1.FileBase64}"  th:FILE_BASE64="${vo1.FILE_BASE64}"  width="50"/>
																</th:block>
																<th:block th:if="${#strings.containsIgnoreCase(vo1.FILE_NAME,'.png')}">
																	<img th:onclick="'javascript:imgConfirm(this,\'png\')'"  th:src="'data:image/png;base64, '+${vo1.FileBase64}"  th:FILE_BASE64="${vo1.FILE_BASE64}"  width="50"/>
																</th:block>
															</th:block>
														</div>
													</div>
												</div>
											</th:block>
										</th:block>
									 </div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</td>
</tr>
<script th:inline="javascript">
    /*<![CDATA[*/
         var policyClaimFileDatas = /*[[${detailData.FileDatas}]]*/;
         var policyClaimsPrintList = []
         if (policyClaimFileDatas != null) {
             for(var i=0; i < policyClaimFileDatas.length ; i++){
				policyClaimsPrintList.push(policyClaimFileDatas[i].FD_ID)
		 	}
         }

		function imgConfirm(obj, fileOrPng){
			if(obj.getAttribute('FILE_BASE64')!=null && obj.getAttribute('FILE_BASE64')!="" ){
				$('#modal-container-imgConfirm').modal({
					show: true,
					backdrop: 'static', 
					keyboard: false
				});
				if(fileOrPng=="pdf"){
					$("#imgOnPrint").html('<iframe id="imgsrc" src="/eservice_adm/showInsuranceClaimPdf?id=' + obj.getAttribute("FILE_ID") + '" width="100%" height="100%"></iframe>');
					$("#onMedicalPrint").hide();
				}else{
					$("#imgOnPrint").html('<img id="imgsrc" src="data:image/png;base64, '+obj.getAttribute('FILE_BASE64')+'" width="500" />');
					$("#onMedicalPrint").show();
				}
			}else{
				alertMsg("「檔案過大無法於畫面呈現，請至影像系統查詢」");
			}
		}

		function onPrint(){
			let newHtml = '<html>'
								+'<body>'
									+'<style>'
								+'.profile-user-info {margin-bottom: 10px;}.profile-user-info {width: calc(100% - 24px);margin: 0 auto;}.panel {margin-bottom: 20px;background-color: #fff;border: 1px solid #ddd;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);box-shadow: 0 1px 1px rgb(0 0 0 / 5%);}.panel-default>.panel-heading {color: #333;background-color: #f5f5f5;border-color: #ddd;}'
								+'.panel-heading {padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;}.panel-body {padding: 15px;}.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {position: relative;min-height: 1px;}'
								+'.form-horizontal .form-group {display: inline-block;width: 100%;}.form-group {margin-bottom: 10px;}.form-group>label[class*=col-] {margin-bottom: 4px;}.col-xs-4 {width: 33.333%;}.col-xs-3 {width: 25%;}.col-xs-9 {width: 75%;}table td, .detailPolicy .col-xs-8, .detailPolicy .col-xs-9 {word-wrap: break-word;word-break: break-all;}.col-xs-8 {width: 66.666%;}'
								+'.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {float: left;}.mobile-toggle {padding: 20px 0;}.colorGreen {color: #009B30 !important;}.upload-drop-zone {min-height: 50px;color: #DDDDDD;margin: auto;line-height: 50px;}.boardDotted {border: 2px dotted #009b38;}.col-xs-12 {width: 100%;}img {vertical-align: middle;}'
								+'</style>'
									+ $('#print_detail').html()
								+'</body>'
						 +'</html>';
			openPdfPrint()
			let newWin= window.open('','線上申請-詳細資料列印',null);
			newWin.document.write(newHtml);
			newWin.document.close()
			newWin.print()
		}

		function openPdfPrint(printList) {
			$(policyClaimsPrintList).each(function(index, e){
				window.open("/eservice_adm/showInsuranceClaimFile?id=" + e, '_blank').print()
			})
		}

		function downloadSignPdf(signFileId) {
            var form = document.createElement("form");
            form.style.display = "none";
            form.action = '/eservice_adm/downloadSignPdf';
            form.method = "post";
            form.target="_blank";
            input = document.createElement("input");
            input.type = "hidden";
            input.name = 'signFileId';
            input.value = signFileId;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
            form.remove();
        }

    /*]]>*/
</script>
