<tr class="detail-row even open" role="row">
	<td colspan="7">
		<div class="table-detail">
			<div class="row" style="background-color: #fff; border-bottom: none">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">申請日期</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">申請項目</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_TYPE_NAME']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">申請狀態</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['STATUS_NAME']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">保單號碼</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['SHOW_POLICY_NO']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">受益人-原申請</div>
							<div class="profile-info-value">
								<span>
									<table class="table  table-bordered table-hover">
										<tbody>
											<tr>
												<th>受益人類型</th>
												<th>姓名</th>
												<th>身份證字號</th>
												<th>與被保人關係</th>
												<th>非直系原因</th>
												<th>分配方式</th>
												<th>指定順位或比例</th>
												<th>受益人電話</th>
												<th>受益人地址</th>
											</tr>
										</tbody>
										<tbody>
											<tr th:each="old : ${detailData['old']}">
												<td><th:block th:text="${old['BENEFICIARY_TYPE_NAME']}"/></td>
												<td><th:block th:text="${old['BENEFICIARY_NAME']}"/></td>
												<td><th:block th:text="${old['BENEFICIARY_ROCID']}"/></td>
												<td><th:block th:text="${old['BENEFICIARY_RELATION_NAME']} == null ? ${old['BENEFICIARY_RELATION']} : ${old['BENEFICIARY_RELATION_NAME']}"/></td>
												<td><th:block th:text="${old['REASON']}"/></td>
												<td><th:block th:text="${old['ALLOCATE_TYPE_NAME']}"/></td>
												<td><th:block th:text="${old['ALLOCATE_SEQ']}"/></td>
												<td><th:block th:text="${old['BENEFICIARY_TEL']}"/></td>
												<td><th:block th:text="${old['BENEFICIARY_ADDRESS_FULL']}"/></td>
											</tr>
										</tbody>
									</table>
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">受益人-申請後</div>
							<div class="profile-info-value">
								<span>
									<table class="table  table-bordered table-hover">
										<tbody>
											<tr>
												<th>受益人類型</th>
												<th>姓名</th>
												<th>身份證字號</th>
												<th>與被保人關係</th>
												<th>非直系原因</th>
												<th>分配方式</th>
												<th>指定順位或比例</th>
												<th>受益人電話</th>
												<th>受益人地址</th>
											</tr>
										</tbody>
										<tbody>
											<tr th:each="dtl : ${detailData['dtl']}">
												<td><th:block th:text="${dtl['BENEFICIARY_TYPE_NAME']}"/></td>
												<td><th:block th:text="${dtl['BENEFICIARY_NAME']}"/></td>
												<td><th:block th:text="${dtl['BENEFICIARY_ROCID']}"/></td>
												<td><th:block th:text="${dtl['BENEFICIARY_RELATION_NAME']} == null ? ${dtl['BENEFICIARY_RELATION']} : ${dtl['BENEFICIARY_RELATION_NAME']}"/></td>
												<td><th:block th:text="${dtl['REASON']}"/></td>
												<td><th:block th:text="${dtl['ALLOCATE_TYPE_NAME']}"/></td>
												<td><th:block th:text="${dtl['ALLOCATE_SEQ']}"/></td>
												<td><th:block th:text="${dtl['BENEFICIARY_TEL']}"/></td>
												<td><th:block th:text="${dtl['BENEFICIARY_ADDRESS_FULL']}"/></td>
											</tr>
										</tbody>
									</table>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-1">
					<th:block th:if="${detailData['STATUS_TYPE']} == '0'">
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:review(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						已審核<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
					<br/>
					<br/>
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:resend(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						待補件<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
					</th:block>
				</div>
			</div>
		</div>
	</td>
</tr>