<tr class="detail-row even open" role="row">
	<td colspan="7">
		<div class="table-detail">
			<div class="row" style="background-color: #fff; border-bottom: none">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">申請日期</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">申請項目</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_TYPE_NAME']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">申請狀態</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['STATUS_NAME']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">保單號碼</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['SHOW_POLICY_NO']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">設定停損停利點通知</div>
							<div class="profile-info-value">
								<span>
									<table class="table  table-bordered table-hover">
										<tbody>
											<tr>
												<th>基金代碼</th>
												<th>基金名稱</th>
												<th>停利點</th>
												<th>停損點</th>
											</tr>
										</tbody>
										<tbody>
											<tr th:each="dtl : ${detailData['dtl']}">
												<th:block th:if=" ${dtl['TYPE'] == '1'}">
												<td><th:block th:text="${dtl['FUND_CODE']}"/></td>
												<td><th:block th:text="${dtl['FUND_NAME']}"/></td>
												<td><th:block th:text="${dtl['PERCENTAGE_UP']}"/></td>
													<td><th:block th:text="-${dtl['PERCENTAGE_DOWN']}"/></td>
												</th:block>
											</tr>
										</tbody>
									</table>
								</span>
							</div>
							<div class="profile-info-value">
								<span>
									<table class="table  table-bordered table-hover">
										<tbody>
											<tr>
												<th>基金代碼</th>
												<th>基金名稱</th>
												<th>現行淨值上限</th>
												<th>現行淨值下限</th>
											</tr>
										</tbody>
										<tbody>
											<tr th:each="dtl : ${detailData['dtl']}">
												<th:block th:if=" ${dtl['TYPE'] == '2'}">
													<td><th:block th:text="${dtl['FUND_CODE']}"/></td>
													<td><th:block th:text="${dtl['FUND_NAME']}"/></td>
													<td><th:block th:text="${dtl['UP_VALUE']}"/></td>
													<td><th:block th:text="${dtl['DOWN_VALUE']}"/></td>
												</th:block>
											</tr>
										</tbody>
									</table>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-1">
					<th:block th:if="${detailData['STATUS_TYPE']} == '0'">
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:review(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						已審核<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
					<br/>
					<br/>
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:resend(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						待補件<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
					</th:block>
				</div>
			</div>
		</div>
	</td>
</tr>