<tr class="detail-row even open" role="row" xmlns:th="http://www.w3.org/1999/xhtml">
	<td colspan="8">
		<div class="table-detail">
			<div class="row">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"> 申請日期 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']!=null}?${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請項目 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_TYPE_NAME']!=null}?${detailData['TRANS_TYPE_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請狀態 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['STATUS_NAME']!=null}?${detailData['STATUS_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 保單號碼 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['POLICY_NO']!=null}?${detailData['POLICY_NO']}"/></span>
							</div>
						</div>
					</div>
					<div class="panel panel-default profile-user-info">
						<div class="panel-heading">※ 申請資料</div>
						<div class="panel-body clear1" id="poliyClaimsDetail">
							<div class="mycigna3">
								<div class="col-md-12  detailPolicy">
									<div class="col-sm-12" style="text-align: left;">
										<div class="check-title">新投資標的與比例</div>
										<div class=" grey2">
											<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
												<thead>
												<tr class="table2 orange2">
													<th class="text-left">投資標的</th>
													<th class="text-left">變更前分配比例與</th>
													<th class="text-left">變更後分配比例</th>
												</tr>
												</thead>
												<tbody>
												<th:block  th:if="not ${#lists.isEmpty(detailData['investments'])}">
													<th:block th:each="from : ${detailData['investments']}">
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left"  >
																<th:block th:text="${from.get('invtName') != null} ?${from.invtName}"  ></th:block>
																<p class="enSmall"  th:text="(${from.get('invtNo') != null} ?${from.invtNo})"></p>
															</td>
															<td th:text="${from.get('preRatio') != null} ?${from.preRatio + '%'} : '0%'"></td>
															<td  th:text="${from.get('afterRatio') != null} ?${from.afterRatio + '%'} : '0%' "></td>
														</tr>
													</th:block>
													<tr style="background: #FDE3D2;">
														<td>總百分比：</td>
														<td id="preRatio">0%</td>
														<td id="aftRatio">0%</td>
													</tr>
												</th:block>
												</tbody>
											</table>
										</div>
										<div class="center1 ptop30" style="background: #FFFFFF;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab_4" class="check-body grey2">
							<div style="text-align: center;" class="check-list2">
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)Swift Code：</label>
									<label id="swiftCode">
									</label>
								</div>
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)英文戶名：</label>
									<label id="englishName">
									</label>
								</div>
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)帳戶名稱：</label>
									<label id="accountName">
									</label>
								</div>
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)銀行名稱：</label>
									<label id="bankName">
									</label>
								</div>
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)分行名稱：</label>
									<label id="branchName">
									</label>
								</div>
								<div class="col-sm-12 mode2select">
									<label for="" class="col-sm-6  colorGreen">(變更後)帳號：</label>
									<label id="bankAccount">
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</td>
</tr>

<script th:inline="javascript">
	$(function(){
		var pre = 0
		var aft = 0
		$("#tab_4").hide()
		var showAccountInvts = [[${showAccountInvts}]]
		$([[${detailData['investments']}]]).each(function(index, e) {
			pre += parseInt(e.preRatio == undefined ? 0 : e.preRatio)
			aft += parseInt(e.afterRatio == undefined ? 0 : e.afterRatio)
			$(showAccountInvts).each(function(index, e1) {
				if (e1 == e.invtNo) {
					$("#tab_4").show()
					$("#swiftCode").text(e.swiftCode)
					$("#englishName").text(e.englishName)
					$("#bankName").text(e.bankName)
					$("#branchName").text(e.branchName)
					$("#accountName").text(e.accountName)
					$("#bankAccount").text(e.bankAccount)
				}
			})
		})
		$("#preRatio").text(pre + '%')
		$("#aftRatio").text(aft + '%')
	})
</script>