<tr class="detail-row even open" role="row">
	<td colspan="7">
		<div class="table-detail">
			<div class="row" style="background-color: #fff; border-bottom: none">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">申請日期</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">借款保單</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['SHOW_POLICY_NO']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">給付方式</div>
							<div class="profile-info-value">
								<span>匯入要保人帳戶</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">匯款銀行</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['BANK_NAME']}"/></span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">匯款帳號</div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['ACCOUNT_NO']}"/></span>
							</div>
						</div>
						<div class="profile-info-row" th:if="${detailData['TRANS_TYPE'] == 'LOAN_NEW'}">
							<div class="profile-info-name">通知方式</div>
							<div class="profile-info-value">
								<span>
									<th:block th:text="${detailData['noticeMethod'] == null ? '' : detailData['noticeMethod'] == 'mobile' ? '簡訊通知:' : '郵件通知:'}"/>
									<th:block th:text="${detailData['noticeTarget']}"/>
								</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- LOAN -->
				<div class="col-xs-12 col-sm-1" th:if="${detailData['TRANS_TYPE'] == 'LOAN'}">
					<th:block th:if="${detailData['STATUS_TYPE']} == '0'">
                    <button
                        class="pull-right btn btn-sm btn-primary btn-white btn-round"
                        type="button" th:onclick="'javascript:completeTrans(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
                        已完成<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
					<br/>
					<br/>
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:resend(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						待補件<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
                    <br/>
                    <br/>
					</th:block>
					<th:block th:if="${detailData} != null and ${detailData['UPLOAD_FLAG'] eq 'Y'}">
                    <button
                        class="pull-right btn btn-sm btn-primary btn-white btn-round"
                        type="button" th:onclick="'javascript:downloadAllFile(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
                         下載檔案<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
                    </th:block>
				</div>
				
				<!-- LOAN_NEW -->
				<div class="col-xs-12 col-sm-1" th:if="${detailData['TRANS_TYPE'] == 'LOAN_NEW'}">
					<th:block th:if="${detailData['STATUS_TYPE']} == '0'">
					<button
						class="pull-right btn btn-sm btn-primary btn-white btn-round"
						type="button" th:onclick="'javascript:review(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
						已審核<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
					<br/>
					<br/>
					</th:block>
					<th:block th:if="${detailData['STATUS_TYPE']} == '5'">
                    <button
                        class="pull-right btn btn-sm btn-primary btn-white btn-round"
                        type="button" th:onclick="'javascript:completeTrans(\'' + ${detailData['TRANS_TYPE']} + '\',\'' + ${detailData['TRANS_NUM']} + '\');'">
                        已完成<i class="my-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
					<br/>
					<br/>
					</th:block>
				</div>
			</div>
		</div>
	</td>
</tr>