<tr class="detail-row even open" role="row" xmlns:th="http://www.w3.org/1999/xhtml">
	<td colspan="8">
		<div class="table-detail">
			<div class="row">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"> 申請日期 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']!=null}?${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請項目 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_TYPE_NAME']!=null}?${detailData['TRANS_TYPE_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請狀態 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['STATUS_NAME']!=null}?${detailData['STATUS_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 保單號碼 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['POLICY_NO']!=null}?${detailData['POLICY_NO']}"/></span>
							</div>
						</div>
					</div>
					<div class="panel panel-default profile-user-info">
					<div class="panel-heading">※ 申請資料</div>
					<div class="panel-body clear1" id="poliyClaimsDetail">

					<div class="mycigna3">
						<div class="col-md-12  detailPolicy">
							<div class="col-sm-12" style="text-align: left;">
								<div class="check-title">轉出基金</div>
								<div class=" grey2">
								  <table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack"> 
										  <thead>
											<tr class="table2 orange2">
												<th class="text-left" style="width: 70%;"  scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
												<!-- <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出百分比</th>  
												-->
												<th:block th:if="not ${#lists.isEmpty(detailData['OUT'])}">
							
														<th:block th:with="outInvestment=${detailData['OUT']}">
															<th:block th:if="${outInvestment[0].ratio !=null && outInvestment[0].ratio !=0}">
																<th  style="width: 30%;"  scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出百分比</th>
															</th:block>
															<th:block th:if="${outInvestment[0].value !=null  && outInvestment[0].value !=0  && outInvestment[0].ratio ==0}">
																<th style="width: 30%;"  scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出單位數</th>
															</th:block>
														</th:block>
												
												</th:block>
											</tr>
											</thead>
										<tbody>
											<th:block  th:if="not ${#lists.isEmpty(detailData['OUT'])}">
													<th:block th:each="from : ${detailData['OUT']}">
															<tr class="h90 tr-odd-noEvent">
																<td class="text-left"  >
																	<th:block th:text="${from.invtName != null} ?${from.invtName}"  ></th:block>
																	<p class="enSmall"  th:text="(${from.invtNo != null} ?${from.invtNo})"></p>
																</td>
																<th:block th:if="${from.ratio != null && from.ratio !=0}" >
																	<td  th:text="${from.ratio} +'%'"></td>
																</th:block>
																<th:block th:if="${from.value != null && from.value !=0 && from.ratio ==0}" >
																	<td  th:text="${from.value}"></td>
																</th:block>
															</tr>
													</th:block>
											</th:block>		
										 	<!--<tr class="h90 tr-odd-noEvent">
										 <td class="text-left">百達基金(盧森堡)生物科技<p class="enSmall">(CPES1)</p></td>
											<td>50%</td> 

										  </tr> -->                       
										</tbody>
									  </table>
								</div>
								<div class="center1 ptop30" style="background: #FFFFFF;"></div>
		
								<div class="check-title">轉入基金</div>
								<div class=" " style="background: #FFFFFF;">
										<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack"> 
										  <thead>
											<tr class="table2 orange2">
											  <th class="text-left" scope="col" style="width: 70%;" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
											  <th scope="col" data-tablesaw-sortable-col="" style="width: 30%;"  data-tablesaw-priority="">轉入百分比</th>                 
											</tr>
										  </thead>
										<tbody>
											<th:block  th:if="not ${#lists.isEmpty(detailData['IN'])}">	
													<th:block th:each="from : ${detailData['IN']}">
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																<th:block th:text="${from.invtName != null} ?${from.invtName}"  ></th:block>
																<p class="enSmall"  th:text="(${from.invtNo != null} ?${from.invtNo})"></p>
															</td>
															<td  th:text="${from.ratio != null}?${from.ratio} +'%'"></td>
														</tr>
													</th:block>
											</th:block>												
										  <!-- <tr class="h90 tr-odd-noEvent">
											<td class="text-left">百達基金(盧森堡)生物科技<p class="enSmall">(CPES1)</p></td>
											<td>50%</td>
										  </tr>                         -->
										</tbody>
									  </table>
								</div>   
								<div class="center1 ptop30" style="background: #FFFFFF;"></div>
							  
								<div class="check-title">匯款帳戶資料</div>
								<th:block  th:if="not ${#lists.isEmpty(detailData['IN'])}">	
									<th:block  th:if="not ${#lists.isEmpty(detailData['IN'][0])}">	
										<div class=" " style="background: #FFFFFF;">
											<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack"> 
												<thead>
													<tr class="table2 orange2">
													<th class="text-left" scope="col" style="width: 70%;" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">名稱</th>
													<th scope="col" data-tablesaw-sortable-col="" style="width: 30%;"  data-tablesaw-priority="">内容</th>                 
													</tr>
												</thead>
												<tbody>
													<th:block th:if="${detailData['IN'][0].swiftCode != null
															&& detailData['IN'][0].swiftCode != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																Swift Code
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].swiftCode}"  ></th:block>
															</td>
														</tr>
													</th:block>
													<th:block th:if="${detailData['IN'][0].englishName != null
														&& detailData['IN'][0].englishName != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																英文戶名
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].englishName}"  ></th:block>
															</td>
														</tr>
													</th:block>
													<th:block th:if="${detailData['IN'][0].accountName != null
														&& detailData['IN'][0].accountName != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																帳戶名稱
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].accountName}"  ></th:block>
															</td>
														</tr>
													</th:block>
													<th:block th:if="${detailData['IN'][0].bankName != null
														&& detailData['IN'][0].bankName != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																銀行名稱
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].bankName}"  ></th:block>
															</td>
														</tr>
													</th:block>
													<th:block th:if="${detailData['IN'][0].branchName != null
														&& detailData['IN'][0].branchName != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																分行名稱
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].branchName}"  ></th:block>
															</td>
														</tr>
													</th:block>
													<th:block th:if="${detailData['IN'][0].bankAccount != null
														&& detailData['IN'][0].bankAccount != '' }" >
														<tr class="h90 tr-odd-noEvent">
															<td class="text-left" >
																帳號
															</td>
															<td>
																<th:block th:text="${detailData['IN'][0].bankAccount}"  ></th:block>
															</td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>  
									</th:block>
								</th:block>
						</div>

						</div>
					</div>

					</div>
				</div>
				<div class="panel panel-default profile-user-info">
					<div class="panel-heading">※ 轉出壽險核心資料</div>
					<div class="panel-body clear1">
						<pre style="background-color: white; border: 0; margin: 0; padding: 0; padding-left: 9.5px;">介接代碼(3),申請序號(12),保單號碼(10),收文日(系統日yyyMMdd),生效日(系統日yyyMMdd),轉出投資標的(10),轉出單位(18),轉入投資標的(10)</pre>
						<pre style="background-color: white; border: 0;" th:text="${detailData['applyItem']}"/>
					</div>
				</div>
				</div>
			</div>
		</div>
	</td>
</tr>