<tr class="detail-row even open" role="row" xmlns:th="http://www.w3.org/1999/xhtml">
	<td colspan="8">
		<div class="table-detail">
			<div class="row">
				<div class="col-xs-12 col-sm-11">
					<div class="space visible-xs"></div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"> 申請日期 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_DATE']!=null}?${detailData['TRANS_DATE']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請項目 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['TRANS_TYPE_NAME']!=null}?${detailData['TRANS_TYPE_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 申請狀態 </div>

							<div class="profile-info-value">
								<span><th:block th:text="${detailData['STATUS_NAME']!=null}?${detailData['STATUS_NAME']}"/></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> 保單號碼 </div>
							<div class="profile-info-value">
								<span><th:block th:text="${detailData['POLICY_NO']!=null}?${detailData['POLICY_NO']}"/></span>
							</div>
						</div>
					</div>
					<div class="panel panel-default profile-user-info">
						<div class="panel-heading">※ 申請資料</div>
						<div class="panel-body clear1" id="poliyClaimsDetail">
							<div class="mycigna3">
								<div class="col-md-12  detailPolicy">
									<div class="col-sm-12 mode2select">
										<label for="" class="col-sm-7  colorGreen">(變更前)收益分配或撥回資產分配方式：</label>
										<th:block th:if="${detailData['cashPayment'].preAllocation != null && detailData['cashPayment'].preAllocation == '1'}">
											現金給付
										</th:block>
										<th:block th:if="${detailData['cashPayment'].preAllocation != null && detailData['cashPayment'].preAllocation == '2'}">
											增加投資標的單位數
										</th:block>
									</div>

									<div class="col-sm-12 mode2select">
										<label for="" class="col-sm-7  colorGreen">(變更後)收益分配或撥回資產分配方式：</label>
										<label>
													<th:block th:if="${detailData['cashPayment'].allocation != null && detailData['cashPayment'].allocation == '1'}">
															現金給付
													</th:block>
													<th:block th:if="${detailData['cashPayment'].allocation != null && detailData['cashPayment'].allocation == '2'}">
															增加投資標的單位數
													</th:block>
										</label>
									</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)Swift Code：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].swiftCode}"/>
											</label>
										</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)英文戶名：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].englishName}"/>
											</label>
										</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)帳戶名稱：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].accountName}"/>
											</label>
										</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)銀行名稱：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].bankName}"/>
											</label>
										</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)分行名稱：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].branchName}"/>
											</label>
										</div>
										<div class="col-sm-12 mode2select">
											<label for="" class="col-sm-7  colorGreen">(變更後)帳號：</label>
											<label>
												<th:block th:text="${detailData['cashPayment'].bankAccount}"/>
											</label>
										</div>
										<div class="center1 ptop30" style="background: #FFFFFF;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</td>
</tr>