<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Long" type="java.lang.Long" />
		<typeAlias alias="HashMap" type="java.util.HashMap" />
		<typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
		<typeAlias alias="ArrayList" type="java.util.ArrayList" />
		<typeAlias alias="LinkedList" type="java.util.LinkedList" />
	</typeAliases>-->
	<!-- 全域參數 -->
	<settings>
		<!-- 啟用或禁用快取。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 啟用或禁用延遲載入。當禁用時，所有關聯物件都會即時載入。 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 當啟用時，有延遲載入屬性的物件在被調用時將會完全載入任意屬性。否則，每種屬性將會按需要載入。 -->
		<setting name="aggressiveLazyLoading" value="true" />
		<!-- 是否允許單條sql返回多個資料集 (取決於驅動的相容性) default:true -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 是否可以使用列的別名 (取決於驅動的相容性) default:true -->
		<setting name="useColumnLabel" value="true" />
		<!-- 允許JDBC 生成主鍵。需要驅動器支援。如果設為了true，這個設置將強制使用被生成的主鍵，有一些驅動器不相容不過仍然可以執行。 default:false -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- 指定 MyBatis 如何自動映射 資料基表的列 NONE：不隱射 PARTIAL:部分 FULL:全部 -->
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<!-- 這是默認的執行類型 （SIMPLE: 簡單； REUSE: 執行器可能重複使用prepared statements語句；BATCH: 
			執行器可以重複執行語句和批量更新） -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<!-- 使用駝峰命名法轉換欄位。 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 設置本地緩存範圍 session:就會有資料的共用 statement:語句範圍 (這樣就不會有資料的共用 ) defalut:session -->
		<setting name="localCacheScope" value="SESSION" />
		<!-- 設置但JDBC類型為空時,某些驅動程式 要指定值,default:OTHER，插入空值時不需要指定類型 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<!-- <plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="offsetAsPageNum" value="false" />
			<property name="rowBoundsWithCount" value="false" />
			<property name="pageSizeZero" value="true" />
			<property name="reasonable" value="false" />
			<property name="supportMethodsArguments" value="false" />
			<property name="returnPageInfo" value="none" />
		</plugin>
	</plugins> -->
	<mappers>
		<mapper resource="mybatis/mapper/adm/AuthorizationMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/BusinessEventMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/DepartmentMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/FunctionDailyUsageMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/FunctionDivMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/FunctionItemMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JobMgmtMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JobTitleMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/LoginMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/LoginLogMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingParameterMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingParameterTmpMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingReceiverMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingReceiverTmpMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingTemplateMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MessagingTemplateTmpMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/OnlineChangeMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/ParameterCategoryMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/ParameterMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/PartnerUserEntityMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/RoleDivAuthMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/RoleFuncAuthMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/RoleMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/RoleSysAuthMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/SystemEventMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/SystemsMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UserDepartmentMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UserDeputyMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UserEntityMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UserRoleMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UsersMapper.xml"/>
		<mapper resource="mybatis/mapper/common/ApConstantsMapper.xml"/>
		<mapper resource="mybatis/mapper/keycloak/KeyCloakUserMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/CommLogMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/MedicalTreatmentClaimFileDataDaoMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UnionCourseMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/QuestionnaireMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/UnionCourseMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/QuestionnaireMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdDepartmentMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdRoleMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdUserDepartmentMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdUserEntityMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdUserRoleMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdMsgNotifyMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdBatchPlanMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdUserBatchMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdUserMapper.xml"/>
		<mapper resource="mybatis/mapper/adm/JdPolicyClaimDetailMapper.xml"></mapper>
	</mappers>
</configuration>